﻿<div>
	<div id="form">
		<div id="collection-items" class="container" data-kswid="hierarchy">
			<div class="topic-header blackGradient" data-kswid="sectionTitle">
				<div class="right">
					<input id="search-query" type="text" class="textBox right" />
				</div>
				<label class="contentTitle heading-18">Select a Collection</label>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="itemBox no-top no-padding">
			<div class="container">
				<div class="right shadow width-250"></div>
				<div class="right width-250">
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<div class="clear"></div>
				</div>
				<div class="left width-625 padding-5">
					<div class="someSpace"></div>
					<div id="list"></div>
					<div id="pager-container"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="someSpace"></div>
			<div>
				<button id="submit" type="button" class="defaultButton defaultButtonBox addButton right" data-kswid="buttonSave">Use Selected Collections</button>
				<button id="cancel" type="button" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton right" data-kswid="buttonCancel">Cancel</button>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="item-template" class="itemBox">
		<div class="left"></div>
		<input id="select" type="checkbox"/>
		<div class="left">
			<img id="image" class="left" src="Content/themes/base/images/image-placeholder-small.png"></img>
			<div class="left">&nbsp;&nbsp;</div>
			<div class="left">
				<a id="title" href="javascript:;" class="itemTitle overflowTruncated alternative left"></a>
				<div id="already-selected" class="left down-3 hidden">&nbsp;(Already Selected)</div>
				<div class="clear"></div>
				<div id="blurb"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="someSpace"></div>
		<div class="indent-30">
			<label class="bold">Expires: </label><label id="expires"></label>
			<label> | </label>
			<label class="bold">Created: </label><label id="created"></label>
			<label> | </label>
			<label class="bold">Modified: </label><label id="modified"></label>
			<div class="clear"></div>
			<div class="someSpace"></div>
			<label class="bold">Created By: </label><label id="created-by"></label>
		</div>
		<div class="clear"></div>
	</div>
</div>
