﻿<div>
    <div id="collectionView" class="content">
        <!-- collectionDetails -->
        <div id="collectionDetails" class="itemBox container" data-kswid="details">
            <div id="detailExpander" class="left contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
            <div class="left contentFilterTitle" data-kswid="sectionTitle">DETAILS</div>
            <div class="clear"></div>
            <div id="detailExpansion" class="expansion">
                <div class="split right shadow"></div>
                <div class="split right">
                    <div>
                        <!-- Creation -->
                        <label class="left detailTitleNoMin tinySpace">Creation</label>
                        <div class="clear"></div>
                        <label class="left detailTitleNoMin tinyMargin small-text">Date: </label>
                        <div id="createdDate" class="left tinyMargin small-text" data-kswid="createdDate">N/A</div>
                        <div class="clear"></div>
                        <label class="left detailTitleNoMin tinyMargin small-text">By: </label>
                        <div id="createdBy" class="left tinyMargin small-text" data-kswid="createdBy">N/A</div>

                        <!-- Stats -->
                        <div class="spacer large"></div>
                        <label class="left detailTitleNoMin tinyMargin">Stats</label>
                        <div class="clear"></div>
                        <label class="left detailTitleNoMin tinyMargin small-text">Licenses Using: </label>
                        <div id="numLicenses" class="left tinyMargin small-text" data-kswid="numLicenses">N/A</div>
                        <div class="clear"></div>
                        <label class="left detailTitleNoMin tinyMargin small-text">Total Topics: </label>
                        <div id="numTopics" class="left tinyMargin small-text" data-kswid="numTopics">N/A</div>
                        <div class="clear"></div>
                        <label class="left detailTitleNoMin tinyMargin small-text">Total Content: </label>
                        <div id="numContent" class="left tinyMargin small-text" data-kswid="numContent">N/A</div>

                        <!-- History -->
                        <div class="spacer large"></div>
                        <label class="left detailTitleNoMin tinySpace">History</label>
                        <div id="historyList">
                            <label class="clear left tinyMargin small-text">(Autosave) 1/1/1 00:00:00 PM</label>
                            <label class="clear left tinyMargin small-text">CREATED: 1/1/1 00:00:00 PM</label>
                        </div>
                    </div>
                </div>
                <div id="mainDetailArea" class="split" data-kswid="detail">
                    <div class="padded">
                        <div class="someSpace">
                            <div class="left rightMargin">
								<div class="width-150 left relative">
                                        <img id="collectionImage" class="fixedAspectImage" src="Content/themes/base/images/image-placeholder-medium.png" />
									<button id="changeImage" class="tiny white overlay-bottom-left">Change</button>
                                    </div>
                                </div>

                            <div class="bitOSpace left">
                                <div id="editTitle" class="left rightMargin">
                                    <div class="label rightMargin">Title: </div>
                                    <div class="left">
                                        <input id="titleValue" name="title" class="defaultTextBox" data-kswid="contentTitle" />
                                    </div>
                                </div>
                                <div id="expireOptions" class="left">
                                    <div class="label rightMargin">Expires: </div>
                                </div>

                                <div id="slug" class="clear">
                                    <div class="label rightMargin">Slug: </div>
                                    <div id="slugValue" class="left" data-kswid="slugValue"></div>
                                    <input id="slugInputValue" name="slug" class="left defaultTextBox hidden" data-kswid="slugEditValue" />
                                    <button id="editSlug" class="bitOSpace left defaultWhiteButton small defaultAnchorbutton" data-kswid="slugEdit">Edit</button>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear someSpace">
                                    <div id="productArea" class="itemBox">
                                        <div>
                                            <label class="itemSubTitleSmall">Product</label>
                                        </div>
                                        <div>
                                            <div class="standardMetadataRow left" data-kswid="SSO">
                                                <input id="sso" type="checkbox" value="SSO" class="checkBoxMargin left">
                                                <label for="sso" class="left clickable">SSO</label>
                                            </div>

                                            <div class="standardMetadataRow left" data-kswid="infoButton">
                                                <input id="infoButton" type="checkbox" value="infoButton" class="checkBoxMargin left">
                                                <label for="infoButton" class="left clickable">Info Button</label>
                                            </div>

                                            <div class="standardMetadataRow left" data-kswid="kramesGames">
                                                <input id="kramesGames" type="checkbox" value="kramesGames" class="checkBoxMargin left">
                                                <label for="kramesGames" class="left clickable">Krames Games</label>
                                            </div>

                                            <div class="clear"></div>

                                            <div class="standardMetadataRow left" data-kswid="KOD">
                                                <input id="KOD" type="checkbox" value="KOD" class="checkBoxMargin left">
                                                <label for="KOD" class="left clickable">KOD</label>
                                            </div>

                                            <div class="standardMetadataRow left" data-kswid="engage">
                                                <input id="engage" type="checkbox" value="engage" class="checkBoxMargin left">
                                                <label for="engage" class="left clickable">Engage</label>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear someSpace">
                            <div id="descriptionArea" class="itemBox ">
                                <label class="itemSubTitleSmall left ">Description</label>
                                <textarea id="descriptionTextArea" name="description" class="textArea fullWidth" data-kswid="description" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="lotsOSpace"></div>

        <!-- licenses -->
        <div class="itemBox container" data-kswid="licenses">
            <div id="licensesExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
            <div class="floatLeft contentFilterTitle" data-kswid="sectionTitle">Licenses Using this Collection</div>
            <div class="clear"></div>
            <div id="licensesExpansion" class="expansion">
                <div id="licensesArea" class="split" data-kswid="authorsEditors">
                    <div class="padded">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="lotsOSpace"></div>

        <!-- collection items -->
        <div id="items-area">
            <div id="collection-items" class="container" data-kswid="hierarchy">
                <div class="topic-header blackGradient" data-kswid="sectionTitle">
                    <div class="right">
                        <button id="addContent" class="short button">
							<img src="Content/themes/base/images/icons/icon_add_content.png" class="align-bottom" />
                            <span class="bold">Content</span></button>
                        <button id="addTopic" class="short button">
                            <img src="Content/themes/base/images/icons/icon_add_topic.png" class="align-bottom" />
                            <span class="bold">Topic</span></button>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="topic-container" class="itemBox no-top sort-container">

                    <div id="topic-template">
                        <div class="someSpace"></div>
                        <div id="box" class="topic-item">
                            <div id="expander" class="floatLeft contentFilterIcon iconCollapsedBig clickable" data-kswid="expand"></div>
                            <div id="item-form" class="indent-30">
                                <div class="right">
                                    <button id="add-content" class="short button">
                                        <img src="Content/themes/base/images/icons/icon_add_content.png" /></button>
                                    <button id="add-topic" class="short button">
                                        <img src="Content/themes/base/images/icons/icon_add_topic.png" /></button>
                                </div>
                                <label class="checkbox indent-none"></label>
								<img id="small-image" src="Content/themes/base/images/image-placeholder-small.png" class="hidden left"/>
                                <div class="">
									<div id="title-container" class="indent-30 right-100" data-option="new">
                                        <input id="title" type="text" class="defaultTextBox fill-width" />
                                    </div>
                                    <div id="title" class="left contentFilterTitle topic-title" data-option="existing" data-kswid="sectionTitle">
                                    </div>
                                    <div class="clear"></div>
                                    <div class="bitOSpace"></div>
                                    <div class="left indent-30">
                                        <a id="flag" class="left clickable flag-icon disabled"></a>
                                        <!--
											******************* Do not remove *******************
											*** the lock and dynamic icons are functional, the ***
											*** services just don't support them yet           ***

										<div class="left">&nbsp;</div>
										<a id="lock" class="left clickable lock-icon disabled"></a>
										<div class="left">&nbsp;</div>
										<a id="dynamic" class="left clickable dynamic-icon disabled"></a>
										-->
                                        <div class="left">&nbsp;</div>
                                        <a id="details" href="javascript:;">Details</a>
                                        <div class="left">&nbsp;</div>
                                        <a id="remove" href="javascript:;" class="action">Remove</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="someSpace"></div>
                                <div id="expansion">
									<div class="width-150 left relative">
										<img id="image" src="Content/themes/base/images/image-placeholder-medium.png" />
										<button id="change-image" class="tiny white overlay-bottom-left">Change</button>
									</div>
                                    <div class="indent-160">
                                        <div>
                                            <div class="width-85 bold left">
                                                <div class="right">Description:</div>
                                            </div>
                                            <div class="indent-90 right-10">
                                                <textarea id="description" class="textArea shortish fill-width"></textarea>
                                            </div>
                                        </div>

                                        <div id="flag-comment-container" class="hidden">
                                            <div class="someSpace"></div>
                                            <div class="width-85 left">
                                                <div class="right flag-icon"></div>
                                            </div>
                                            <div class="indent-90 right-10">
                                                <textarea id="flag-comment" class="textArea shortish fill-width"></textarea>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                    <div id="lock-on" class="hidden">
                                        <div class="someSpace"></div>
                                        <div class="left lock-icon"></div>
                                        <div>&nbsp;Topic locked. No changes can be made, no articles will automatically be added.</div>
                                    </div>
                                    <div id="dynamic-on" class="hidden">
                                        <div class="someSpace"></div>
                                        <div class="left dynamic-icon"></div>
                                        <div>&nbsp;Dynamic content is <b>ON</b>. All articles meeting this criteria will be automatically added, unless locked.</div>
                                    </div>
                                    <div>
                                        <div class="someSpace"></div>
                                        <div class="right">
                                            <button id="delete-topic-button" class="button action">DELETE topic and remove content</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="someSpace"></div>
							<div id="children" class="indented-to-expander hidden sort-container min-30"></div>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
                <div id="topicsExpansion" class="expansion">
                </div>
            </div>
        </div>

        <div class="lotsOSpace"></div>
    </div>
    <div class="clear"></div>

    <div id="editCollectionToolbar" class="mainContentHeader blackGradient">
        <div id="collectionToolbarTitle" class="contentTitle" data-kswid="subTitle">Edit Collection</div>
       <!-- <a id="report" href="javascript:;" class="floatLeft defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="report">Run Report</a>-->
        <div class="buttonArea">
            <a id="cancel" href="javascript:;" class="floatRight defaultBlackButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Cancel</a>
            <a id="delete" href="javascript:;" class="floatRight defaultOrangeButton defaultButtonBox defaultAnchorbutton" data-kswid="delete">Delete</a>
            <a id="save" href="javascript:;" class="floatRight defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="save">Save</a>
        </div>
    </div>

    <!-- contentItemTemplate -->
    <div id="contentItemTemplate" class="topic-item" data-type="content">
        <div class="left">
            <input id="selected" type="checkbox" class="checkbox left">
            <div class="left">
                <div id="icon" class="align-bottom iconContent left"></div>
                <div class="left">
                    <div class="left indent-five">
                        <label id="title" type="text" class="left detailTitleNoMin medium tinyMargin">Title</label>
                    </div>
                    <div class="clear"></div>
                    <div class="left indent-five">
                        <input id="flag-Content" type="checkbox" class="checkbox flag left">

                        <a id="expander" href="javascript:;" class="indent-ten">Details</a>
                        <a id="remove" href="javascript:;" class="indent-ten action">Remove</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div id="expansion">
            <div class="clear"></div>
            <div class="someSpace"></div>
            <div class="left indent-75">
                <div class="left">
                    <div class="left">
                        <div class="left detailTitleNoMin">Slug:</div>
                        <div class="left" id="slug"></div>
                    </div>

                    <div class="left indent-ten">
                        <a id="view-article" href="javascript:;">View Article</a>
                    </div>

                    <div class="left indent-ten">
                        <div class="left detailTitleNoMin ">Last Review:</div>
                        <div class="left" id="lastReviewed"></div>
                    </div>

                    <div class="left indent-ten">
                        <div class="left detailTitleNoMin ">Servicelines:</div>
                        <div class="left" id="servicelines"></div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="someSpace"></div>
                <div>
                    <div class="left detailTitleNoMin ">Blurb:</div>
                    <div id="blurb"></div>
                </div>

                <div class="clear"></div>
                <div class="someSpace"></div>
            </div>

            <div id="flag-comment-container" class="clear">
                <div class="width-75 left">
                    <div class="right">
                        <div class="align-bottom flag-icon"></div>
                    </div>
                </div>
                <div class="indent-75">
                    <textarea id="flag-comment" class="boxsizingBorder textArea fullwidth shortish"></textarea>
                </div>
            </div>

            <div class="clear"></div>
            <div class="someSpace"></div>

            <div class="clear right">
                <button id="disable" class="button">Disable this article</button>
                <button id="remove" class="button action">Remove this article</button>
            </div>

        </div>
        <div class="clear"></div>

    </div>

    <!-- searchContentTemplate -->
    <div id="search-content-template" class="container shadow-x" data-kswid="hierarchy">
        <div class="topic-header-x blackGradient" data-kswid="sectionTitle">
            <div id="search-toolbar-title" class="contentTitle font-size-16 toolbar-title" data-kswid="subTitle">
                <label id="target">Add to Topic: </label>
                <label id="topic-title"></label>
            </div>

            <div class="right">
                <button id="cancel" class="short button">Cancel</button>
                <button id="addSelected" class="short button">Add Selected</button>
                <!--<button id="add-criteria" class="short button">Add Criteria</button>-->
            </div>
            <div class="clear"></div>
        </div>

        <!-- search-area (lifted from content.html--need an html bundler) -->
        <div id="search-area" class="">
            <!-- itemBox no-top no-shadow -->
            <div id="searchOptions">
                <div class="split right shadow shadow-bar"></div>
                <div class="split right notTheShadow">
                    <div class="">
                        <!-- please rename me -->
                        <div id="searchArea" class="searchArea">
                            <!--isNotVisible-->
                            <div class="searchTextArea indent-right-20">
                                <input id="contentSearchInput" type="text" class="searchTextBox fill-width" data-kswid="inputSearch">
                            </div>
                            <button id="contentSearchButton" type="button" class="defaultButton searchButton narrow right" data-kswid="buttonSearch"></button>
                        </div>

                        <div class="floatLeft optionTitle">Buckets Selected</div>
                        <div id="bucketFilterOption" class="floatLeft iconAdd contentFilterOptionIcon clickable" data-kswid="bucketFilter"></div>
                        <div id="bucketSelectedFilters" class="selectedFilters clear">
                            <div id="selectedFilter" class="clear">
                                <div class="floatLeft filterTitle bucketFilterSelected" data-kswid="bucketFilterName"></div>
                                <div class="floatLeft iconRemove clickable removeFilterOption" data-kswid="bucketFilterOption"></div>
                            </div>
                            <div id="noSelectedFilters">None</div>
                        </div>
                    </div>

                    <div class="listOptionsSeperator">&nbsp;</div>
                    <div class="listOptionsSection">
                        <a id="contentFilterResetButton" class="floatRight defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton" data-kswid="userResetFilter">Reset Filters</a>
                        <a id="contentFilterApplyButton" class="floatRight defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="userApplyFilter">Apply Filters</a>
                    </div>
                </div>
            </div>

            <div id="initialContentSearch" class="itemBox dark">
                <div id="initialContentSearchArea">
                    <div class="searchAreaLeft">
                        <div class="searchTextArea">
                            <input id="initialContentSearchInput" type="text" class="contentSearchTextBox floatLeft" data-kswid="inputSearch">
                        </div>
                        <button id="initialContentSearchButton" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
                        <div class="clear bitOSpace" />
                        <div>Narrow results by using filters followed by a colon and search term.</div>
                        <div class="clear someSpace" />
                        <div id="searchKey" class="itemBox dark">
                            <div class="bitOSpace contentSearchKeyTitle smallPadding">Key</div>
                            <div class="small-text">
                                <div class="threeColumns">
                                    <label class="bold">bucket:</label>
                                    <label>Bucket Name</label>

                                </div>
                                <div class="threeColumns">
                                    <label class="bold">mesh:</label>
                                    <label>Mesh Code</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">icd9:</label>
                                    <label>ICD9 Code</label>
                                </div>

                                <div class="threeColumns">
                                    <label class="bold">service-line:</label>
                                    <label>Service Line Name</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">created:</label>
                                    <label>5/31/2013-6/31/2013</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">gender:</label>
                                    <label>Female</label>
                                </div>

                                <div class="threeColumns">
                                    <label class="bold">collection:</label>
                                    <label>Collection Name</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">modified:</label>
                                    <label>5/31/2013-6/31/2013</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">age:</label>
                                    <label>Adult</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">state:</label>
                                    <label>Draft</label>
                                </div>
                                <div class="threeColumns">
                                    <label class="bold">reviewed:</label>
                                    <label>5/31/2013-6/31/2013</label>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div id="resultPanel">
                <div id="contentList" class="itemBox dark">
                    <div id="listViewBar">
                        <div id="resultCount" class="floatLeft" data-kswid="results">Result Count Here</div>
                        <div class="clear">
                            <br />
                        </div>
                    </div>
                    <div id="contentArea">
                    </div>
                    <div id="pager"></div>
                    <div class="clear"></div>
                </div>
            </div>

            <!-- content-search-item-template -->
            <div id="content-search-item-template" class="itemBox" data-kswid="content">
                <div class="left">
                    <input id="selected" type="checkbox" class="checkbox left">
                </div>
                <div class="overflowTruncated">
                    <div class="hiddenId"></div>
                    <div>
                        <a id="contentDataTitle" href="javascript:;" class="itemTitle alternative clickable overflowTruncated" data-kswid="userName"></a>&nbsp;&nbsp;(<span id="revisions"></span>)
                    </div>
                    <div class="clear"></div>
                    <!-- create option to display clientUserActions -->
                    <!--<div id="clientUserActions" class="actions detailArea">
                            <a id="contentQuickEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentQuickEditAction">Quick Edit</a>
                            <div class="actionSeperator"></div>
                            <a id="contentEditAction" class="floatLeft anchorNoPadding disabled" href="javascript:void(0);" data-kswid="contentEditAction" data-disabled="true">Edit</a>
                            <div class="actionSeperator"></div>
                            <a id="contentDeleteAction" class="floatLeft anchorNoPadding disabled" href="javascript:void(0);" data-kswid="contentDeleteAction" data-disabled="true">Delete</a>
                            <div class="actionSeperator"></div>
                            <a id="contentSaveAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentSaveAction">Save</a>
                            <div class="actionSeperator"></div>
                            <a id="contentReportAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentReportAction">Report</a>
                    </div>-->
                    <div class="spacer small"></div>
                    <div id="contentListPreviewArea" class="clear" data-kswid="description"></div>
                    <div class="spacer small"></div>
                    <div id="metadata1" class="clear bitOSpace"></div>
                    <div id="metadata2" class="clear bitOSpace"></div>
                </div>
                <div class="clear"></div>
            </div>

            <!--this needs to go in somewhere...-->
            <!--<-->
        </div>
    </div>

    <div id="delete-confirmation" class="dialog">
        <div class="spacer"></div>
        <div class="centered">
            <label>Are you sure you would like to </label>
            <label id="action" class="emphasized">DELETE</label>
            <label id="type">subtopic</label>
        </div>
        <div class="spacer"></div>
        <div id="title" class="large"></div>
        <div class="spacer"></div>
        <div class="padded buttonStrip">
            <button id="cancel-delete" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
            <button id="confirm-delete" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete</button>
        </div>
        <div class="break"></div>
    </div>

</div>
