﻿<div>
	<div id="contentView" class="content">
		<!-- metadata -->
		<div id="newContentMetaData" class="itemBox container" data-kswid="metadata">
			<div id="metadataExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
			<div class="floatLeft contentFilterTitle" data-kswid="sectionTitle">METADATA</div>
			<div class="clear"></div>
			<div id="metadataExpansion" class="expansion">
				<div class="split right shadow"></div>
				<div class="split right">
					<div id="additionalMetadata1">
						<div class="titleText">Additional Metadata</div>
						<br />
						<div id="addMetadata1">
						</div>
					</div>
					<br />
					<div>
						<div>
							<label class="floatLeft detailTitle tinySpace">Last Reviewed</label>
							<div id="lastReviewedDate" class="floatRight detailTitle tinySpace" data-kswid="lastReviewed">N/A</div>
							<input id="lastReviewedPicker" name="lastReviewedDate" class="defaultWhiteButton defaultButtonSmallLessRound defaultAnchorbutton smallDatePickerBox floatRight" value="10/10/13" data-kswid="lastReviewed" />
						</div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<label class="floatLeft detailTitle tinySpace">Posting Date</label>
							<div id="postingDate" class="floatRight detailTitle tinySpace" data-kswid="postingDate">N/A</div>
							<input id="postingDatePicker" name="postingDate" class="defaultWhiteButton defaultButtonSmallLessRound defaultAnchorbutton smallDatePickerBox floatRight" value="10/10/13" data-kswid="postingDate" />
						</div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<label class="floatLeft detailTitle tinySpace">Updated Date</label>
							<div id="updatedDate" class="floatRight detailTitle tinySpace" data-kswid="modifiedDate">N/A</div>
						</div>

						<div class="clear"></div>
						<div class="bitOSpace">
							<label class="floatLeft detailTitle tinySpace">Modified Date</label>
							<div id="modifiedDate" class="floatRight detailTitle tinySpace" data-kswid="modifiedDate">N/A</div>
						</div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<label class="floatLeft detailTitle tinySpace">Created Date</label>
							<div id="createdDate" class="floatRight detailTitle tinySpace" data-kswid="createdDate">N/A</div>
						</div>
					</div>
				</div>
				<div id="mainMetadataArea" class="split" data-kswid="metadata">
					<div class="padded">
						<div class="column">
							<div class="clear">
								<div class="label">Bucket:</div>
								<div id="bucket" class="value" data-kswid="bucket"></div>
							</div>

							<div id="viewTitle" class="clear">
								<div class="label">Title:</div>
								<div id="title" class="value" data-kswid="title"></div>
							</div>

							<div id="editTitle" class="clear">
								<div class="label">Title:</div>
								<div class="left">
									<input id="titleValue" name="title" class="defaultTextBox" data-kswid="contentTitle" />
								</div>
							</div>

							<div id="viewSlug" class="clear">
								<div class="label">Slug:</div>
								<div id="slug" class="value" data-kswid="slug"></div>
							</div>

							<div id="editSlug" class="clear">
								<div class="label">Slug:</div>
								<div id="slugValue" class="left" data-kswid="slugValue"></div>
								<input id="slugInputValue" name="slug" class="left defaultTextBox hidden" data-kswid="slugEditValue" />
								<button id="newContentSlug" class="bitOSpace left defaultWhiteButton small defaultAnchorbutton" data-kswid="slugEdit">Edit</button>
								<div class="clear"></div>
							</div>

							<div id="viewInvertedTitle" class="clear">
								<div class="label">InvertedTitle:</div>
								<div id="invertedTitle" class="value" data-kswid="invertTitle"></div>
								<div class="clear"></div>
							</div>

							<div id="editInvertedTitle" class="clear">
								<div class="label">Inverted Title:</div>
								<div class="left">
									<input id="invertedTitle" name="invertedTitle" class="defaultTextBox" data-kswid="invertTitle" />
								</div>
								<div class="clear"></div>
							</div>

							<div id="viewAlternateTitles" class="clear itemBox lotsOSpace">
								<label class="itemSubTitleSmall">Alternate Titles</label>
								<div id="alternateTitleView" data-kswid="additionalTitle">
								</div>
							</div>

							<div id="editAlternateTitles" class="floatLeft itemBox additionalBox lotsOSpace">
								<label class="floatLeft itemSubTitleSmall">ALTERNATE TITLES</label>
								<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="additionalTitleAdd"></div>
								<div id="container">
									<div id="alternateTitleTemplate">
										<input id="value" data-name="alternateTitles" class="floatLeft defaultTextBox" data-kswid="additionalTitleTextbox" />
										<div id="remove" class="floatRight iconDelete" data-kswid="alternateTitleRemove"></div>
									</div>
								</div>
							</div>
						</div>

						<div id="viewAgeCategory" class="floatLeft itemBox">
							<label class="itemSubTitleSmall">Age Categories</label>
							<div id="ageCategoryView" data-kswid="ageBin"></div>
						</div>

						<div id="editAgeCategory" class="floatLeft itemBox">
							<label class="itemSubTitleSmall">Age Categories</label>
							<div class="clear standardMetadataRow" data-kswid="ageBin">
								<input id="infant" type="checkbox" value="Infant" class="checkBoxMargin floatLeft" />
								<label for="infant" class="floatLeft">Infant (0-11 mo)</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="ageBin">
								<input id="child" type="checkbox" value="Child" class="checkBoxMargin floatLeft" />
								<label for="child" class="floatLeft">Child (1-11 yrs)</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="ageBin">
								<input id="teen" type="checkbox" value="Teen" class="checkBoxMargin floatLeft" />
								<label for="teen" class="floatLeft">Teen (12-17 yrs)</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="ageBin">
								<input id="adult" type="checkbox" value="Adult" class="checkBoxMargin floatLeft" />
								<label for="adult" class="floatLeft">Adult (18-64 yrs)</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="ageBin">
								<input id="senior" type="checkbox" value="Senior" class="checkBoxMargin floatLeft" />
								<label for="senior" class="floatLeft">Senior (65+)</label>
							</div>
						</div>

						<div id="viewGender" class="floatLeft itemBox">
							<label class="itemSubTitleSmall">Gender</label>
							<div id="genderView" data-kswid="gender"></div>
						</div>

						<div id="editGender" class="floatLeft itemBox metadataGroup">
							<label class="itemSubTitleSmall">Gender</label>
							<div class="clear standardMetadataRow" data-kswid="gender">
								<input type="radio" id="genderAll" name="gender" value="All" />
								<label for="genderAll" class="floatLeft">All</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="gender">
								<input type="radio" id="genderMale" name="gender" value="Male" />
								<label for="genderMale" class="floatLeft">Male</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="gender">
								<input type="radio" id="genderFemale" name="gender" value="Female" />
								<label for="genderFemale" class="floatLeft">Female</label>
							</div>
						</div>

						<div class="clear tinySpace overflowAuto"></div>

						<div id="viewLegacyId" class="clear">
							<div class="label">Legacy Content ID:&nbsp;&nbsp;</div>
							<div id="legacyId" class="value" data-kswid="legacy-id"></div>
						</div>

						<div id="editLegacyId" class="clear">
							<div class="label">Legacy Content ID:&nbsp;&nbsp;</div>
							<div class="left">
								<input id="legacyIdValue" name="legacyId" class="defaultTextBox" data-kswid="legacy-id-value" />
							</div>
						</div>

						<div class="clear tinySpace overflowAuto"></div>
						<div id="viewBlurb" class="itemBox">
							<label class="itemSubTitleSmall">Blurb</label>
							<div id="blurb" class="wrapped" data-kswid="blurb">(None)</div>
						</div>

						<div id="editBlurb" class="itemBox">
							<label class="itemSubTitleSmall">Blurb</label>
							<div class="someSpace"></div>
							<textarea id="blurbTextArea" name="blurb" class="textArea fullWidth" data-kswid="blurb" />
						</div>

						<div class="clear tinySpace overflowAuto"></div>
						<div id="viewGunningFog" class="floatLeft itemBox metadataGroup2">
							<label class="itemSubTitleSmall">Gunning Fog Reading Level</label>
							<div id="gunningFogValue" data-kswid="gunningFog"></div>
						</div>

						<div id="editGunningFog" class="floatLeft itemBox metadataGroup">
							<label class="floatLeft itemSubTitleSmall">Gunning Fog Reading Level</label>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="gunningFogRemove"></div>
							<div class="clear standardMetadataRow" data-kswid="gunningFog">
								<input type="radio" id="gunningFog-4-5" name="gunningFogReadingLevel" value="4-5" class="defaultRadioButton radioButtonMargin" />
								<label for="gunningFog-4-5" class="floatLeft">4-5</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="gunningFog">
								<input type="radio" id="gunningFog-6-7" name="gunningFogReadingLevel" value="6-7" class="defaultRadioButton radioButtonMargin" />
								<label for="gunningFog-6-7" class="floatLeft">6-7</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="gunningFog">
								<input type="radio" id="gunningFog-8-13" name="gunningFogReadingLevel" value="8-13" class="defaultRadioButton radioButtonMargin" />
								<label for="gunningFog-8-13" class="floatLeft">8-13</label>
							</div>
						</div>

						<div id="viewFleschKincaid" class="floatLeft itemBox metadataGroup2">
							<label class="itemSubTitleSmall">Flesch-Kincaid Reading Level</label>
							<div id="fleschKincaidValue" data-kswid="fleschKincaid"></div>
						</div>

						<div id="editFleschKincaid" class="floatLeft itemBox metadataGroup">
							<label class="floatLeft itemSubTitleSmall">Flesch-Kincaid Reading Level</label>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="fleschKincaidRemove"></div>
							<div class="clear standardMetadataRow" data-kswid="fleschKincaid">
								<input type="radio" id="fleschKincaid-0-30" name="fleschKincaidReadingLevel" value="0-30" class="defaultRadioButton radioButtonMargin" />
								<label for="fleschKincaid-0-30" class="floatLeft">0-30 (University Graduates)</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="fleschKincaid">
								<input type="radio" id="fleschKincaid-60-70" name="fleschKincaidReadingLevel" value="60-70" class="defaultRadioButton radioButtonMargin" />
								<label for="fleschKincaid-60-70" class="floatLeft">60-70 (13-15 yr. Old Students)</label>
							</div>
							<div class="clear standardMetadataRow" data-kswid="fleschKincaid">
								<input type="radio" id="fleschKincaid-90-100" name="fleschKincaidReadingLevel" value="90-100" class="defaultRadioButton radioButtonMargin" />
								<label for="fleschKincaid-90-100" class="floatLeft">90-100 (11 yr Old Students)</label>
							</div>
						</div>

						<div class="clear tinySpace overflowAuto"></div>
						<div id="viewCopyright" class="itemBox">
							<label class="itemSubTitleSmall">Copyright</label>
							<div id="copyrightValue" class="wrapped" data-kswid="copyright"></div>
						</div>

						<div id="editCopyright" class="itemBox">
							<div class="clear"></div>
						</div>

					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="lotsOSpace"></div>

		<!-- authors -->
		<div class="itemBox container" data-kswid="authors">
			<div id="additionalMetadataExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
			<div class="floatLeft contentFilterTitle" data-kswid="sectionTitle">AUTHORS, EDITORS, REVIEWERS, SOURCES</div>
			<div class="clear"></div>
			<div id="additionalMetadataExpansion" class="expansion">
				<div class="split right shadow"></div>
				<div class="split right">
					<div id="additionalMetadata2">
						<div class="titleText">Additional Metadata</div>
						<br />
						<div id="addMetadata2">
						</div>
					</div>
				</div>
				<div id="mainAuthorsEditorsArea" class="split" data-kswid="authorsEditors">
					<div class="padded">
						<div id="viewAuthors" class="floatLeft itemBox">
							<label class="floatLeft itemSubTitleSmall">AUTHORS</label>
							<div class="clear" id="container" data-kswid="authors"></div>
						</div>

						<div id="editAuthors" class="floatLeft itemBox additionalBox">
							<label class="floatLeft itemSubTitleSmall">AUTHORS</label>
							<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="authorAdd"></div>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="authorsRemove"></div>
							<div id="container">
								<div id="authorTemplate">
									<div class="clear"></div>
									<input id="value" data-name="authors" class="floatLeft defaultTextBox additionalData authorNameInput" data-label="Author's Name..." data-kswid="additionalAuthorTextbox" />
									<div id="remove" class="floatRight additionalDeleteMargin iconClose" data-kswid="additionalAuthorRemove"></div>
								</div>
							</div>
						</div>

						<div id="viewEditors" class="floatLeft itemBox">
							<label class="floatLeft itemSubTitleSmall">ONLINE EDITORS</label>
							<div id="container" class="clear" data-kswid="onlineEditors"></div>
						</div>

						<div id="editEditors" data-name="" class="floatLeft itemBox additionalBox">
							<label class="floatLeft itemSubTitleSmall">ONLINE EDITORS</label>
							<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="onlineEditorsAdd"></div>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="onlineEditorsRemove"></div>
							<div id="container">
								<div id="editorTemplate">
									<div class="clear"></div>
									<input id="value" data-name="onlineEditors" class="floatLeft defaultTextBox additionalData editorNameInput" data-label="Editor's Name..." data-kswid="additionalOnlineEditorTextbox" />
									<div id="remove" class="floatRight additionalDeleteMargin iconClose" data-kswid="additionalOnlineEditorRemove"></div>
								</div>
							</div>
						</div>

						<div id="viewReviewers" class="floatLeft itemBox">
							<label class="floatLeft itemSubTitleSmall">ONLINE MEDICAL REVIEWERS</label>
							<div id="container" class="clear" data-kswid="onlineMedicalReviewers"></div>
						</div>

						<div id="editReviewers" class="floatLeft itemBox additionalBox">
							<label class="floatLeft itemSubTitleSmall">ONLINE MEDICAL REVIEWERS</label>
							<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="additionalOnlineMedicalReviewerAdd"></div>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="onlineMedicalReviewersRemove"></div>
							<div id="container">
								<div id="reviewerTemplate">
									<div class="clear"></div>
									<input id="value" data-name="onlineMedicalReviewers" class="floatLeft defaultTextBox additionalData reviewerNameInput" data-label="Reviewer's Name..." data-kswid="additionalOnlineMedicalReviewerTextbox" />
									<div id="remove" class="floatRight additionalDeleteMargin iconClose" data-kswid="additionalOnlineMedicalReviewerRemove"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

						<div id="viewOnlineSources" class="itemBox clear">
							<label class="floatLeft itemSubTitleSmall">ONLINE ORIGINATING SOURCES</label>
							<div id="container" class="clear" data-kswid="onlineOriginatingSources"></div>
						</div>

						<div id="editOnlineSources" data-name="onlineOriginatingSources" class="itemBox clear">
							<label class="floatLeft itemSubTitleSmall">ONLINE ORIGINATING SOURCES</label>
							<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="additionalOnlineOriginatingSourceAdd"></div>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="onlineOriginatingSourcesRemove"></div>
							<div id="container">
								<div id="onlineSourceTemplate" class="clear overflow" data-kswid="onlineOriginatingSource">
									<input id="source" data-name="source" class="floatLeft defaultTextBox additionalDataLarger additionalDataMargin" data-label="Source..." data-kswid="sourceTextbox" />
									<input id="uri" data-name="uri" class="floatLeft defaultTextBox additionalDataLarger additionalDataMargin" data-label="Website..." data-kswid="onlineUrlTextbox" />
									<div id="remove" class="iconClose left additionalDeleteMargin" data-kswid="additionalOnlineOriginatingSourceRemove"></div>
									<div class="clear someSpace"></div>
									<input id="sourceTitle" data-name="title" class="floatLeft defaultTextBox additionalDataLarger additionalDataMargin" data-label="Title..." data-kswid="nameTextbox" />
									<div class="floatLeft additionalMetaDataDetailArea additionalMetadataDetailWidth">
										<label class="floatLeft detailTitle bitMoreSpace">Date Accessed</label>
										<input data-name="date" class="defaultWhiteButton defaultButtonSmallLessRound defaultAnchorbutton smallDatePickerBox floatRight tinySpace" value="10/10/13" data-kswid="onlineDate" />
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

						<div id="viewPrintSources" class="itemBox clear">
							<label class="floatLeft itemSubTitleSmall">PRINT ORIGINATING SOURCES</label>
							<div id="container" class="clear" data-kswid="printOriginatingSources"></div>
						</div>

						<div id="editPrintSources" data-name="printOriginatingSources" class="itemBox clear">
							<label class="floatLeft itemSubTitleSmall">PRINT ORIGINATING SOURCES</label>
							<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="additionalPrintOriginatingSourceAdd"></div>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="printOriginatingSourcesRemove"></div>
							<div id="container">
								<div id="printSourceTemplate" class="clear overflow" data-kswid="printSource">
									<input id="title" data-name="title" class="floatLeft defaultTextBox additionalDataLarger additionalDataMargin" data-label="Title..." data-kswid="printSourceName" />
									<div class="floatLeft additionalMetaDataDetailArea additionalMetadataDetailWidth additionalDataMargin">
										<label class="floatLeft detailTitle bitMoreSpace">Date Accessed</label>
										<input data-name="date" class="defaultWhiteButton defaultButtonSmallLessRound defaultAnchorbutton smallDatePickerBox floatRight tinySpace additionalDataMargin" value="10/10/13" data-kswid="printDate" />
									</div>
									<div id="remove" class="iconClose left additionalDeleteMargin" data-kswid="additionalPrintOriginatingSourceRemove"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

						<div id="viewRecommendedSites" class="itemBox clear">
							<label class="floatLeft itemSubTitleSmall">RECOMMENDED SITES</label>
							<div id="container" class="clear" data-kswid="recommendedSites"></div>
						</div>

						<div id="editRecommendedSites" data-name="recommendedSites" class="itemBox clear">
							<label class="floatLeft itemSubTitleSmall">RECOMMENDED SITES</label>
							<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="additionalRecomendedSiteAdd"></div>
							<div id="removeMetadata" class="floatRight iconDelete removeReadingLevelButton" data-kswid="recommendedSitesRemove"></div>
							<div id="container">
								<div id="recommendedSiteTemplate" class="clear overflow" data-kswid="recommendedSource">
									<input id="title" data-name="title" class="floatLeft defaultTextBox additionalDataLarger additionalDataMargin" data-label="Title..." data-kswid="recommendedSourceName" />
									<input id="uri" data-name="uri" class="floatLeft defaultTextBox additionalDataLarger additionalDataMargin" data-label="Website..." data-kswid="recommendedUrl" />
									<div id="remove" class="iconClose left additionalDeleteMargin" data-kswid="additionalRecommendedSiteRemove"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="lotsOSpace"></div>

		<!-- medicalTaxonomies -->
		<div class="itemBox container" data-kswid="medicalTaxonomies">
			<div id="medicalTaxonomiesExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
			<div class="floatLeft contentFilterTitle" data-kswid="sectionTitle">Medical Taxonomies</div>
			<div class="clear"></div>
			<div id="medicalTaxonomiesExpansion" class="expansion">
				<div class="split right shadow"></div>
				<div class="split right">
					<div id="medicalTaxonomyBar">
						<div class="titleText">Add Medical Taxonomies</div>
						<br />
						<div id="addMedicalTaxonomies">
						</div>
					</div>
					<br />
				</div>
				<div id="mainTaxonomiesArea" class="split">
					<div class="padded">

						<div id="taxonomyTemplate" class="floatLeft itemBox additionalBox" data-name="taxonomies">
							<label id="metaDataTitle" class="floatLeft itemSubTitleSmall"></label>
							<input type="hidden" data-name="slug" />

							<div id="addMetaDataItem" class="iconAdd floatLeft iconAddItemPadding addTaxonomyValueButton" data-kswid="taxonomyValueAdd"></div>
							<div id="removeMetadata" class="iconDelete floatRight removeTaxonomyButton" data-kswid="taxonomyRemove"></div>

							<div id="metaDataContainer" data-name="items">
								<div id="taxonomyValueTemplate">
									<div class="clear"></div>
									<input id="metaDataValue" data-name="value" class="floatLeft defaultTextBox additionalData" data-label="Taxonomy Value..." data-kswid="additionalTaxonomyValueTextbox" />
									<label id="metaDataValueLabel" class="floatLeft additionalData" />
									<div id="removeMetaDataItem" class="floatRight additionalDeleteMargin iconClose" data-kswid="additionalTaxonomyValueRemove"></div>
									<input type="hidden" data-name="source" />
								</div>

								<div id="readOnlyTaxonomyValueTemplate">
									<div class="clear"></div>
									<label id="metaDataValue" class="floatLeft additionalData" data-kswid="additionalTaxonomyValueTextbox" />
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
		<div class="lotsOSpace"></div>

		<!-- ancillaryTaxonomies -->
		<div class="itemBox container" data-kswid="ancillaryTaxonomies">
			<div id="ancillaryTaxonomiesExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
			<div class="floatLeft contentFilterTitle" data-kswid="sectionTitle">Ancillary Taxonomies</div>
			<div class="clear"></div>
			<div id="ancillaryTaxonomiesExpansion" class="expansion">
				<div class="split right shadow"></div>
				<div class="split right">
					<div id="ancillaryTaxonomyBar">
						<div class="titleText">Add Ancillary Taxonomies</div>
						<br />
						<div id="addAncillaryTaxonomies">
						</div>
					</div>
					<br />
				</div>
				<div id="mainAncillaryTaxonomiesArea" class="split">
					<div class="padded">
						<!-- Servicelines (only) template -->
						<div id="servicelinesTemplate" class="floatLeft itemBox additionalBox" data-name="servicelines">
							<label id="metaDataTitle" class="floatLeft itemSubTitleSmall"></label>
							<div id="removeMetadata" class="iconDelete floatRight removeTaxonomyButton" data-kswid="taxonomyRemove"></div>
							<div id="metaDataContainer">
								<div id="servicelinesValueTemplate">
									<div class="clear"></div>

									<div id="audience" class="floatLeft">
										<div class="floatLeft">
											<label class="horizontalSpacerSmall itemValue bold">*</label>
										</div>
									</div>
									<div id="serviceline" class="floatLeft">
										<div class="floatLeft">
											<label class="horizontalSpacerSmall itemValue bold">*</label>
										</div>
									</div>
									<div id="pageKeyword" class="floatLeft">
										<div class="floatLeft">
											<label class="horizontalSpacerSmall itemValue bold"></label>
										</div>
									</div>
									<input type="hidden" data-name="slug" />
									<input type="hidden" data-name="path" />
									<input type="hidden" data-name="type" value="Serviceline"/>
								</div>
							</div>
						</div>
						
						<div id="readOnlyCustomAttributeTemplate" class="floatLeft itemBox additionalBox" data-name="customAttributes">
							<label class="floatLeft itemSubTitleSmall">CUSTOM ATTRIBUTE</label>
							<div id="customAttributeName">
								<div class="clear"></div>
								<label id="metaDataTitle" class="floatLeft itemSubTitleSmall" data-kswid="additionalCustomAttributeNameTextbox" />
							</div>
							<div id="metaDataContainer" data-name="customAttributeValues">
								<div id="readOnlyCustomAttributeValueTemplate">
									<div class="clear"></div>
									<label id="metaDataValue" class="floatLeft additionalData" data-kswid="additionalCustomAttributeValueTextbox" />
								</div>
							</div>
						</div>

						<div id="customAttributeTemplate" class="floatLeft itemBox additionalBox" data-name="customAttributes">
							<label id="metaDataTitle" class="floatLeft itemSubTitleSmall">Custom Attribute</label>
							<div id="removeMetadata" class="iconDelete floatRight removeCustomAttributeButton" data-kswid="customAttributeRemove"></div>
							<div id="customAttributeName">
								<div class="clear"></div>
								<input id="metaDataTitle" data-name="name" class="floatLeft defaultTextBox additionalData" data-label="Name..." data-kswid="additionalCustomAttributeNameTextbox" />
								<label id="metaDataTitleLabel" class="floatLeft" />
								<div id="addMetaDataItem" class="iconAdd floatRight additionalDeleteMargin addCustomAttributeValueButton" style="padding-right:5px" data-kswid="customAttributeValueAdd"></div>
							</div>
							<div id="metaDataContainer" data-name="customAttributeValues">
								<div id="customAttributeValueTemplate">
									<div class="clear"></div>
									<input id="metaDataValue" data-name="values" class="floatLeft defaultTextBox additionalData" data-label="Value..." data-kswid="additionalCustomAttributeValueTextbox" />
									<label id="metaDataValueLabel" class="floatLeft additionalData" />
									<div id="removeMetaDataItem" class="floatRight additionalDeleteMargin iconClose" data-kswid="additionalCustomAttributeValueRemove"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
		<div id="newContentContent" class="overflow" data-kswid="content">

			<div class="contentSegmentTitle moreSpace left" data-kswid="sectionTitle">CONTENT</div>
			<div id="segmentList" class="floatLeft split padded clear">
			</div>

			<div class="floatRight">
				<div id="segmentListArea" class="itemBox overflow">
					<div id="segmentExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="segmentsExpand"></div>
					<div class="floatRight titleText">Dedicated Segments</div>
					<div class="clear"></div>
					<div id="segmentExpansion">
						<div id="dragToReorderPrompt" class="subTitleText clear">(Drag to Reorder)</div>
						<div id="addedSegmentList">
						</div>
						<div id="availableSegmentList">
						</div>
					</div>
				</div>
				<div id="historyArea" class="itemBox overflow" data-kswid="historyPanel">
					<div id="historyExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="segmentsExpand"></div>
					<div class="titleText aligned">History</div>
					<div class="clear"></div>
					<div id="historyExpansion">
						<div id="historyList" class="padded limitedVertical" data-kswid="historyList">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="onlineOriginatingSourceView">
		<div class="left half">
			<div class="indented">
				<div>
					<div class="left bold">Source:&nbsp;</div>
					<div id="source" class="wrapped" data-kswid="onlineSource"></div>
				</div>
				<div class="clear"></div>
				<br />
				<div>
					<div class="left bold">Title:&nbsp;</div>
					<div id="title" class="wrapped" data-kswid="onlineTitle"></div>
				</div>
			</div>
		</div>
		<div class="left half">
			<div>
				<div>
					<div class="left bold">Site:&nbsp;</div>
					<div id="uri" class="wrapped" data-kswid="onlineSite"></div>
				</div>
				<div class="clear"></div>
				<br />
				<div>
					<div class="left bold">Date Accessed:&nbsp;</div>
					<div id="date" class="wrapped" data-kswid="onlineDateAccessed"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="printOriginatingSourceView">
		<div class="left half">
			<div class="indented">
				<!--				<div>
					<div class="left bold">Source:&nbsp;</div>
					<div id="source" class="wrapped" data-kswid="printSource"></div>
				</div>
				<div class="clear"></div>
				<br />-->
				<div>
					<div class="left bold">Title:&nbsp;</div>
					<div id="title" class="wrapped" data-kswid="printTitle"></div>
				</div>
			</div>
		</div>
		<div class="left half">
			<div>
				<div>
					<div class="left bold">Date Accessed:&nbsp;</div>
					<div id="date" class="wrapped" data-kswid="printDateAccessed"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="recommendedSiteView">
		<div class="left half">
			<div class="indented">
				<div>
					<div class="left bold">Title:&nbsp;</div>
					<div id="title" class="wrapped" data-kswid="onlineTitle"></div>
				</div>
			</div>
		</div>
		<div class="left half">
			<div>
				<div>
					<div class="left bold">Site:&nbsp;</div>
					<div id="uri" class="wrapped" data-kswid="onlineTitle"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="segmentItemView" class="segment" data-position="" data-kswid="segment">
		<div class="clear overflow">
			<div class="floatLeft segmentTitleArea">
				<div id="name" class="floatLeft segmentTitle" data-kswid="segTitle"></div>
				<div class="floatLeft">&nbsp;</div>
				<div id="customName" class="floatLeft titleText customSegmentTitle" data-kswid="segCustomTitle"></div>
			</div>
		</div>
		<div id="">
			<div id="segmentDataArea" class="clear contentSegmentArea overflow">
				<!-- Add disabled to each div to show as disabled -->
				<div id="body" class="contentSegmentData" data-kswid="segDesc"></div>
			</div>
		</div>
	</div>

	<div id="viewContentToolbar" class="mainContentHeader blackGradient">
		<div class="contentTitle" data-kswid="subTitle">View Content</div>
		<div class="buttonArea">
			<a id="finished" href="javascript:;" class="floatRight defaultBlackButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Finished</a>
		</div>
	</div>

	<div id="editContentToolbar" class="mainContentHeader blackGradient">
		<div id="contentToolbarTitle" class="contentTitle" data-kswid="subTitle">Add Content</div>
		<div class="buttonArea">
			<a id="cancel" href="javascript:;" class="floatRight defaultBlackButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Cancel</a>
			<a id="saveAsDraft" href="javascript:;" class="floatRight defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="saveDraft">Save As Draft</a>
			<a id="saveAndPublish" href="javascript:;" class="floatRight defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="savePublish">Save and Publish</a>
		</div>
	</div>

	<div id="metadataSeparator" class="someSpace borderSeperator overflow"></div>

	<div id="addAction" data-kswid="additionalMetadata">
		<label id="title" class="clear detailTitleFont"></label>
		<div id="addIcon" class="iconAdd" data-kswid="additionalMetadataAdd"></div>
	</div>

	<div id="segmentBarItem" class="clear segment overflow requiredSegment addedSegment" data-kswid="segments">
		<div id="move" class="floatLeft iconMove segmentIconMargin" data-kswid="segmentsMove"></div>
		<div id="name" class="floatLeft activatorName" data-kswid="segmentsTitle"></div>
		<div id="add" class="floatLeft iconAdd" data-kswid="segmentsAdd"></div>
	</div>

	<div id="segmentItem" data-position="" data-kswid="segment">
		<input type="hidden" id="segmentId" />
		<div class="clear overflow">
			<!-- ADD class here (below) 'disabledSegmentTitleColor' to show as disabled -->
			<div class="floatLeft segmentTitleArea">
				<div id="segmentTitle" class="floatLeft segmentTitle" data-kswid="segTitle"></div>
				<div class="floatLeft">&nbsp;</div>
				<div id="removeSegment" class="floatLeft iconClose aligned" data-kswid="segRemove"></div>
				<div class="floatLeft">&nbsp;</div>
				<div id="customSegmentTitle" class="floatLeft titleText customSegmentTitle" data-kswid="additionalSeg"></div>
			</div>
			<!-- Hide this area to show as disabled -->
			<div class="floatRight toolbarArea">
				<div id="editContentToolbar" class="floatRight">
					<a id="editSegmentAction" class="defaultAnchorbutton anchorNoPaddingRight segmentEditPadding editSegmentAction" href="javascript:void(0);" data-kswid="segEdit">Edit</a>
				</div>
				<div id="undoOrUpdateToolbar" class="floatRight isNotVisible">
					<a id="undoSegmentChange" class="floatRight defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton contentEditToolBarButton" href="javascript:void(0);" data-kswid="segUndo">Undo</a>
					<a id="updateSegment" class="floatRight defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton contentEditToolBarButton" href="javascript:void(0);" data-kswid="segSave">Update</a>
				</div>
			</div>
		</div>
		<div id="">
			<div id="segmentDataArea" class="clear contentSegmentArea overflow">
				<!-- Add disabled to each div to show as disabled -->
				<div id="segmentBody" class="overflowTruncated" data-kswid="segDesc"></div>
			</div>
		</div>
	</div>

	<div id="viewServiceLine" class="floatLeft itemBox additionalBox">
		<label class="floatLeft itemSubTitleSmall">SERVICE LINE</label>
		<div class="clear" id="container" data-kswid="serviceLines">
		</div>
	</div>

</div>
