﻿<link href="../../Content/Site.css" rel="stylesheet" />

<div>
    <div id="contentTitleBar" class="mainContentHeader blackGradient">
        <a id="addItem" href="javascript:;" class="defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="addNewContent">Add Item</a>
        <div id="searchArea" class="searchArea isNotVisible">
            <div class="searchTextArea">
                <input id="searchInput" type="text" class="searchTextBox" data-kswid="inputSearch">
            </div>
            <button id="searchButton" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
        </div>
    </div>
    
    <!-- search -->
    <div id="search">
        <div id="searchOptions">
            <div class="split right shadow"></div>

            <div class="split right">
                
                <!-- topicsSearchInput -->
                <div class="clear">
                    <div class="bitOSpace floatLeft optionTitle">Topics</div>
                    <div class="searchTextArea">
                        <input id="topicsSearchInput" type="text" class="searchTextBox floatLeft" data-kswid="inputTopicSearch">
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear listOptionsSeperator">&nbsp;</div>

                <div class="clear ">
                    <div class="bitOSpace floatLeft optionTitle">Content</div>
                    <div class="searchTextArea">
                        <input id="contentSearchInput" type="text" class="searchTextBox floatLeft" data-kswid="inputContentSearch">
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear listOptionsSeperator">&nbsp;</div>

                <!--Show only Expires-->
                <div id="expiresFilterOptions" class="clear someSpace">
                    <input id="showOnlyExpires" type="checkbox" class="checkBoxMargin left" />
                    <label for="showOnlyExpires" class="left clickable">Show only Expires</label>
                    <div id="expiresDropDownContainer"></div>
                    <div class="clear"></div>
                </div>

                <div class="clear listOptionsSeperator">&nbsp;</div>

                <!--Created Between-->
                <div class="clear someSpace">
                    <div class="bitOSpace floatLeft optionTitle">Created Between:</div>
                    <div class="logDateRangeOptions">
                        <!-- ui-daterangepicker instead? -->
                        <input id="createdBetween" class="logDateRangePicker noFocus noPaddings" type="text" readonly="readonly" data-kswid="inputFilterCreatedDate" />
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear listOptionsSeperator">&nbsp;</div>

                <!--Modified Between-->
                <div class="clear someSpace">
                    <div class="bitOSpace floatLeft optionTitle">Modified Between:</div>
                    <div class="logDateRangeOptions">
                        <input id="modifiedBetween" class="logDateRangePicker noFocus noPaddings" type="text" readonly="readonly" data-kswid="inputFilterModifiedDate" />
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear listOptionsSeperator">&nbsp;</div>

                <!--Show only Flagged Content-->
                <div class="clear someSpace">
                    <input id="onlyFlaggedContent" type="checkbox" class="checkBoxMargin floatLeft" />
                    <label for="onlyFlaggedContent" class="floatLeft">Show only Flagged Content</label>
                    <div class="clear"></div>
                </div>

                <div class="clear listOptionsSeperator">&nbsp;</div>

                <div class="listOptionsSection">
                    <a id="contentFilterResetButton" class="floatRight defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton" data-kswid="userResetFilter">Reset Filters</a>
                    <a id="contentFilterApplyButton" class="floatRight defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="userApplyFilter">Apply Filters</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- initialSearch -->
    <div id="initialSearch" class="itemBox dark">
        <div id="initialSearchArea">
            <div class="searchAreaLeft">
                <div class="searchTextArea">
                    <input id="initialSearchInput" type="text" class="contentSearchTextBox floatLeft" data-kswid="inputSearch">
                </div>
                <button id="initialSearchButton" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
                <div class="clear bitOSpace" />
                <div>Narrow results by using filters followed by a colon and search term.</div>
                <div class="clear someSpace" />
                <div class="itemBox dark">
                    <div class="bitOSpace contentSearchKeyTitle smallPadding">Key</div>
                    <div id="searchKeyContainer">
                        <div id="collectionSearchKey" class="small-text">
                            <div class="threeColumns">
                                <label class="bold">created:</label>
                                <label>5/31/2013-6/31/2013</label>
                            </div>
                        </div>
                        <div id="bucketSearchKey" class="small-text"></div>
                        <div id="contentSearchKey" class="small-text">
                            <div class="threeColumns">
                                <label class="bold">bucket:</label>
                                <label>Bucket Name</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">mesh:</label>
                                <label>Mesh Code</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">icd9:</label>
                                <label>ICD9 Code</label>
                            </div>

                            <div class="threeColumns">
                                <label class="bold">service-line:</label>
                                <label>Service Line Name</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">created:</label>
                                <label>5/31/2013-6/31/2013</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">gender:</label>
                                <label>Female</label>
                            </div>

                            <div class="threeColumns">
                                <label class="bold">collection:</label>
                                <label>Collection Name</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">modified:</label>
                                <label>5/31/2013-6/31/2013</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">age:</label>
                                <label>Adult</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">state:</label>
                                <label>Draft</label>
                            </div>
                            <div class="threeColumns">
                                <label class="bold">reviewed:</label>
                                <label>5/31/2013-6/31/2013</label>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <!-- resultPanel -->
    <div id="resultPanel">
        <div id="contentList" class="itemBox dark">
            <div id="listViewBar">
                <div id="resultCount" class="floatLeft" data-kswid="results">Result Count Here</div>
                <div class="floatRight">
                    <a id="sort" href="javascript:;" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton small not-caps" data-kswid="sort">Sort</a>
                    <a id="display" href="javascript:;" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton small not-caps" data-kswid="display">Display</a>
                    <a id="reports" href="javascript:;" class="defaultButton defaultButtonBox defaultAnchorbutton small not-caps" data-kswid="reports">Reports</a>
                </div>
                <div class="clear">
                    <br />
                </div>
            </div>
            <div id="contentArea">
            </div>
            <div id="pager"></div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- collectionListItemTemplate -->
    <div id="collectionListItemTemplate" class="itemBox" data-kswid="collection">
        <div class="clientUserData floatLeft">
            <img class="floatLeft detailTitleImage" id="thumbnail" data-kswid="collectionThumbnail">
            <div class="floatLeft">
                <a id="name" href="javascript:;" class="itemTitle alternative clickable overflowTruncated" data-kswid="collectionTitle"></a>
                <div class="clear"></div>
                <div id="clientUserActions" class="actions detailArea">
                    <a id="edit" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="collectionEdit">Edit</a>
                    <div class="actionSeperator"></div>
                    <a id="clone" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="collectionClone">Clone</a>
                    <div class="actionSeperator"></div>
                    <a id="delete" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="collectionDelete">Delete</a>
                    <div class="actionSeperator"></div>
                    <a id="report" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="collectionReport">Report</a>
                </div>
            </div>

            <!--<div class="spacer small"></div>-->
            <div id="previewArea" class="clear">
                <div id="description" class="detailArea" data-kswid="collectionSummary">
                    Description
                </div>
            </div>
            <div class="spacer small"></div>
            <div id="metadataArea">
                <div id="metadata" class="clear bitOSpace"></div>
            </div>
        </div>


        <div class="clear"></div>
    </div>

    <!-- bucketListItemTemplate -->
    <div id="bucketListItemTemplate" class="itemBox" data-kswid="bucket">
        <div class="floatLeft detailImage">
            <div id="icon" data-kswid="bucketIcon"></div>
        </div>
        <div class="clientUserData floatLeft">
            <a id="name" href="javascript:;" class="clientDataName" data-kswid="bucketTitle"></a>
            <div class="clear"></div>
            <div id="clientUserActions" class="actions detailArea">
                <a id="edit" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="bucketEdit">Edit</a>
                <div class="actionSeperator"></div>
                <a id="clone" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="bucketClone">Clone</a>
                <div class="actionSeperator"></div>
                <a id="delete" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="bucketDelete">Delete</a>
            </div>
            <div id="description" class="detailArea" data-kswid="bucketSummary">
                Description
            </div>
            <div class="detailArea">
                <div class="left bold">Type:&nbsp;</div>
                <div id="type" class="left" data-kswid="bucketType"></div>
                <div id="segmentGroup">
                    <div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
                    <div class="left bold">Segments:&nbsp;</div>
                    <div id="segments" class="left" data-kswid="bucketSegments"></div>
                </div>
                <div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
                <div class="left bold">Origin:&nbsp;</div>
                <div id="origin" class="left" data-kswid="bucketOrigin"></div>
                <div id="charLimitGroup">
                    <div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
                    <div class="left bold">Char Limit:&nbsp;</div>
                    <div id="charLimit" class="left" data-kswid="bucketCharLimit"></div>
                </div>
                <div id="legacyIdGroup">
                    <div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
                    <div class="left bold">Legacy (cont type):&nbsp;</div>
                    <div id="legacyId" class="left" data-kswid="bucketLegacy"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!-- contentListItemTemplate -->
    <div id="contentListItemTemplate" class="itemBox" data-kswid="content">
        <div class="overflowTruncated">
            <div class="hiddenId"></div>
            <div>
                <a id="contentDataTitle" href="javascript:;" class="itemTitle alternative clickable overflowTruncated" data-kswid="userName"></a>&nbsp;&nbsp;(<span id="revisions"></span>)
            </div>
            <div class="clear"></div>
            <div id="clientUserActions" class="actions detailArea">
                <!--<a id="contentQuickEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentQuickEditAction">Quick Edit</a>
                    <div class="actionSeperator"></div>-->
                <a id="contentEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentEditAction">Edit</a>
                <div class="actionSeperator"></div>
                <a id="contentDeleteAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentDeleteAction">Delete</a>
                <!--<div class="actionSeperator"></div>
                    <a id="contentSaveAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentSaveAction">Save</a>
                    <div class="actionSeperator"></div>
                    <a id="contentReportAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentReportAction">Report</a>-->
            </div>
            <div class="spacer small"></div>
            <div id="contentListPreviewArea" class="clear" data-kswid="description"></div>
            <div class="spacer small"></div>
            <div id="metadata1" class="clear bitOSpace"></div>
            <div id="metadata2" class="clear bitOSpace"></div>
        </div>
        <div class="clear"></div>
    </div>

    <!-- imageListItemTemplate -->
    <div id="imageListItemTemplate" class="itemBox">
        <table>
            <tr>
                <td class="top">
                    <img id="image" class="left">
                </td>
                <td>&nbsp;</td>
                <td class="top">
                    <a href="javascript:;" id="title" class="left itemTitle alternative clickable overflowTruncated"></a>
                    <div class="left">&nbsp;</div>
                    <div id="type" class="left aligned"></div>
                    <div class="clear"></div>
                    <div id="clientUserActions" class="actions detailArea">
                        <a id="contentEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentEditAction">Edit</a>
                        <div class="actionSeperator"></div>
                        <a id="contentDeleteAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentDeleteAction">Delete</a>
                    </div>
                    <div class="clear"></div>
                    <div id="summary"></div>
                </td>
            </tr>
        </table>
        <br />
        <div id="metadata1" class="clear bitOSpace"></div>
        <div id="metadata2" class="clear bitOSpace"></div>
        <div class="clear"></div>
    </div>
    
    <!-- generic delete dialog -->
    <div id="delete-confirmation" class="dialog">
        <div class="spacer"></div>
        <div class="centered">
            <label>Are you sure you would like to </label>
            <label id="action" class="emphasized">DELETE</label>
            <label id="type"></label>
        </div>
        <div class="spacer"></div>
        <div id="title" class="large"></div>
        <div class="spacer"></div>
        <div class="padded buttonStrip">
            <button id="cancel-delete" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
            <button id="confirm-delete" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete</button>
        </div>
        <div class="break"></div>
    </div>

    <!-- deleteCollectionDialog -->
    <div id="deleteCollectionDialog" class="dialog" data-kswid="deleteCollectionDialog">
        Are you sure you would like to
        <label class="emphasized">DELETE</label>
        collection
        <div class="spacer"></div>
        <div class="large" id="name"></div>
        <div class="spacer"></div>
        <div class="buttonStrip">
            <button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
            <button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Delete Bucket</button>
        </div>
        <div class="clear"></div>
    </div>

    <!-- deleteBucketDialog -->
    <div id="deleteBucketDialog" class="dialog" data-kswid="deleteBucketDialog">
        Are you sure you would like to
        <label class="emphasized">DELETE</label>
        content bucket
        <div class="spacer"></div>
        <div class="large" id="name"></div>
        <div class="spacer"></div>
        <div class="buttonStrip">
            <button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
            <button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Delete Bucket</button>
        </div>
        <div class="clear"></div>
    </div>

    <!-- deleteContentDialog -->
    <div id="deleteContentDialog" class="dialog" data-kswid="deleteContentDialog">
        <div class="spacer"></div>
        <div class="centered">
            <div class="hiddenId"></div>
            <label>Are you sure you would like to </label>
            <label class="emphasized">DELETE</label>
            <label id="type">content</label>
        </div>
        <div class="spacer"></div>
        <div id="deleteContentName" class="large"></div>
        <div class="spacer"></div>
        <div class="padded buttonStrip">
            <button id="deleteContentCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
            <button id="deleteContentConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete Content</button>
        </div>
        <div class="break"></div>
    </div>

</div>
