﻿<div>
	<div id="image-editor" class="content">
		<div id="newContentMetaData" class="itemBox container" data-kswid="metadata">
			<div id="metadataExpander" class="floatLeft contentFilterIcon iconExpandedBig clickable" data-kswid="expand"></div>
			<div class="floatLeft contentFilterTitle" data-kswid="sectionTitle">METADATA</div>
			<div class="clear"></div>
			<div id="metadataExpansion" class="expansion">
				<div class="split right shadow"></div>
				<div class="split right">
					<div id="additionalMetadata1">
						<div class="titleText">Additional Metadata</div>
						<br />
						<div id="addMetadata1">
						</div>
					</div>
					<br />
					<div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<label class="floatLeft detailTitle tinySpace">Posting Date</label>
							<div id="postingDate" class="floatRight detailTitle tinySpace" data-kswid="postingDate">N/A</div>
							<input id="postingDatePicker" name="postingDate" class="defaultWhiteButton defaultButtonSmallLessRound defaultAnchorbutton smallDatePickerBox floatRight" value="10/10/13" data-kswid="postingDate" />
						</div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<label class="floatLeft detailTitle tinySpace">Created Date</label>
							<div id="createdDate" class="floatRight detailTitle tinySpace" data-kswid="createdDate">N/A</div>
						</div>
					</div>
				</div>
				<div id="mainMetadataArea" class="split" data-kswid="metadata">
					<div class="padded">
						<div class="column">
							<div class="clear">
								<div class="label">Bucket:</div>
								<div id="bucket" class="value" data-kswid="bucket"></div>
							</div>

							<div id="viewTitle" class="clear">
								<div class="label">Title:</div>
								<div id="title" class="value" data-kswid="title"></div>
							</div>
							<div id="editTitle" class="clear">
								<div class="label">Title:</div>
								<div class="left">
									<input id="titleValue" name="title" class="defaultTextBox" data-kswid="contentTitle" />
								</div>
							</div>

							<div id="viewSlug" class="clear">
								<div class="label">Slug:</div>
								<div id="slug" class="value" data-kswid="slug"></div>
							</div>

							<div id="viewInvertedTitle" class="clear">
								<div class="label">InvertedTitle:</div>
								<div id="invertedTitle" class="value" data-kswid="invertTitle"></div>
								<div class="clear"></div>
							</div>

							<div id="editInvertedTitle" class="clear">
								<div class="label">Inverted Title:</div>
								<div class="left">
									<input id="invertedTitle" name="invertedTitle" class="defaultTextBox" data-kswid="invertTitle" />
								</div>
								<div class="clear"></div>
							</div>

							<div id="viewAlternateTitles" class="clear itemBox lotsOSpace">
								<label class="itemSubTitleSmall">Alternate Titles</label>
								<div id="alternateTitleView" data-kswid="additionalTitle">
								</div>
							</div>

							<div id="editAlternateTitles" class="floatLeft itemBox additionalBox lotsOSpace">
								<label class="floatLeft itemSubTitleSmall">ALTERNATE TITLES</label>
								<div id="add" class="iconAdd floatLeft iconAddAlternateTitlesPadding" data-kswid="additionalTitleAdd"></div>
								<div id="container">
									<div id="alternateTitleTemplate">
										<input id="value" data-name="alternateTitles" class="floatLeft defaultTextBox" data-kswid="additionalTitleTextbox" />
										<div id="remove" class="floatRight iconDelete" data-kswid="alternateTitleRemove"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="clear tinySpace overflowAuto"></div>

						<div id="viewLegacyId" class="clear">
							<div class="label">Legacy Content ID:&nbsp;&nbsp;</div>
							<div id="legacyId" class="value" data-kswid="legacy-id"></div>
						</div>

						<div id="editLegacyId" class="clear">
							<div class="label">Legacy Content ID:&nbsp;&nbsp;</div>
							<div class="left">
								<input id="legacyIdValue" name="legacyId" class="defaultTextBox" data-kswid="legacy-id-value" />
							</div>
						</div>

						<div class="clear tinySpace overflowAuto"></div>
						<div id="viewBlurb" class="itemBox">
							<label class="itemSubTitleSmall">Blurb</label>
							<div id="blurb" class="wrapped" data-kswid="blurb">(None)</div>
						</div>
						<div class="clear"></div>
						<div id="editBlurb" class="itemBox">
							<label class="itemSubTitleSmall">Blurb</label>
							<div class="someSpace"></div>
							<textarea id="blurbTextArea" name="blurb" class="textArea fullWidth" data-kswid="blurb" />
							<div class="clear someSpace"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="lotsOSpace"></div>
		<div class="clear"></div>
		<div id="imageContainer" class="centered">
		</div>
		<div class="lotsOSpace"></div>
		<div class="clear"></div>
	</div>

	<div id="editImageToolbar" class="mainContentHeader blackGradient">
		<div id="contentToolbarTitle" class="contentTitle left" data-kswid="subTitle">Update Image&nbsp;&nbsp;</div>
		<div id="upload-container" class="buttonArea left">
			<button id="replace-image" class="aligned defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="replaceImage">Replace Image</button>
		</div>
		<div class="buttonArea">
			<a id="cancel" href="javascript:;" class="floatRight defaultBlackButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Cancel</a>
			<a id="delete" href="javascript:;" class="floatRight defaultOrangeButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Delete</a>
			<a id="saveAsDraft" href="javascript:;" class="floatRight defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="saveDraft">Save</a>
		</div>
	</div>

	<div id="deleteContentDialog" class="dialog" data-kswid="deleteContentDialog">
		<div class="spacer"></div>
		<div class="centered">
			<div class="hiddenId"></div>
			<label>Are you sure you would like to </label>
			<label class="emphasized">DELETE</label>
			<label id="type">image</label>
		</div>
		<div class="spacer"></div>
		<div id="deleteContentName" class="large"></div>
		<div class="spacer"></div>
		<div class="padded buttonStrip">
			<button id="deleteContentCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="deleteContentConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete Content</button>
		</div>
		<div class="break"></div>
	</div>
</div>
