﻿<div>
	<div id="image-upload-editor" class="itemBox">
		<div class="left thumbnail bitOSpace centered">
			<img id="preview"></div>
		<div class="left">&nbsp;&nbsp;</div>
		<div class="inlineBlock">
			<div class="bitOSpace">
				<div class="const-width half left itemSubTitleSmall">Title</div>
				<input id="title" type="text" class="left block textBox" name="title">
				<div class="clear"></div>
			</div>
			<div class="bitOSpace">
				<div id="viewSlug" class="clear">
					<div class="left const-width half itemSubTitleSmall">Slug</div>
					<div id="slug" class="value left itemValue" data-kswid="slug"></div>
					<div class="clear"></div>
				</div>

				<div id="editSlug" class="clear">
					<div class="const-width half itemSubTitleSmall left">Slug</div>
					<div id="slugValue" class="left" data-kswid="slugValue"></div>
					<input id="slugInputValue" name="slug" class="left defaultTextBox hidden" data-kswid="slugEditValue" />
					<button id="newContentSlug" class="aligned left defaultWhiteButton small defaultAnchorbutton" data-kswid="slugEdit">Edit</button>
					<div class="clear"></div>
				</div>
			</div>
			<div class="bitOSpace">
				<div class="const-width half left itemSubTitleSmall">Blurb</div>
				<textarea id="blurb" class="left block textArea" name="blurb" cols="99" rows="2"></textarea>
				<div class="clear"></div>
			</div>
			<!-- Tags are for future expansion -->
			<!--<div class="bitOSpace">
				<div class="const-width half left itemSubTitleSmall">Tags</div>
				<input id="tags" type="text" class="block textBox" name="tags" />
				<div class="clear"></div>
			</div>-->
		</div>
	</div>

	<div id="editImageToolbar" class="mainContentHeader blackGradient">
		<div id="contentToolbarTitle" class="contentTitle" data-kswid="subTitle">Update Image</div>
		<div class="buttonArea">
			<a id="cancel" href="javascript:;" class="floatRight defaultBlackButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Cancel</a>
			<a id="saveAsDraft" href="javascript:;" class="floatRight defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="saveDraft">Save</a>
		</div>
	</div>

</div>
