﻿<div>
	<div id="upload-selection">
		<div id="dragTarget" class="itemBox dark">
			<div class="titleText large centered">Upload your image(s)</div>
			<br />
			<br />
			<br />
			<div class="medium centered">
				Drag and drop files into<br />
				this area, or...
			</div>
			<br />
			<br />
			<div class="titleText centered">
				<div id="upload-container">
					<button id="selectFiles" class="defaultButton large not-caps">Select Files from your Computer</button>
				</div>
			</div>
			<br />
			<br />
			<div class="titleText centered">
				<button id="cancel" class="defaultWhiteButton">Cancel</button>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div id="upload">
		<div class="itemBox dark">
			<div class="titleText top-aligned large centered">
				Uploading Images
				<button id="uploadMore" class="defaultButton" data-kswid="uploadMore">Upload More Images</button>
			</div>
			<br />
			<div id="list"></div>
			<div class="clear"></div>
		</div>
	</div>

	<div id="uploadImageToolbar" class="mainContentHeader blackGradient">
		<div id="title" class="contentTitle" data-kswid="subTitle"></div>
		<div id="buttons" class="buttonArea">
			<a id="cancel" href="javascript:;" class="floatRight defaultBlackButton defaultButtonBox defaultAnchorbutton" data-kswid="cancel">Cancel</a>
			<a id="finish" href="javascript:;" class="floatRight defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="finish">Finish</a>
		</div>
	</div>

</div>
