﻿<div>
    <div id="imageListOptions">
        <div style="margin-left: 70px">
            <input id="jpg" type="checkbox" value="Jpg" />&nbsp;<label for="jpg">JPG (0)</label>
            <div class="clear">
                <br />
            </div>
            <input id="png" type="checkbox" value="Png" />&nbsp;<label for="png">PNG (0)</label>
            <div class="clear">
                <br />
            </div>
            <input id="tiff" type="checkbox" value="Tiff" />&nbsp;<label for="tiff">TIFF (0)</label>
            <div class="clear">
                <br />
            </div>
            <input id="other" type="checkbox" value="Gif,Bmp" />&nbsp;<label for="other">Other (0)</label>
            <div class="clear">
                <br />
            </div>
            <div class="clear">
                <hr />
            </div>

            <div id="thumbnailSizeContainer">
                <div class="clear">
                    <br />
                </div>
                <div class="medium label bold">Thumbnail size:</div>
                <div class="clear bitOSpace">
                </div>

                <div class="offset">
                    <div class="bitOSpace">
                        <input id="thumb" type="radio" name="thumbnailSize" value="50x50" checked="checked" />&nbsp;<label for="thumb">Thumb (50x50)</label>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="bitOSpace">
                        <input id="small" type="radio" name="thumbnailSize" value="150x150" />&nbsp;<label for="small">Sm (150x150)</label>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="bitOSpace">
                        <input id="medium" type="radio" name="thumbnailSize" value="300x300" />&nbsp;<label for="medium">Med (300x300)</label>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="selectImageTemplate" class="itemBox">
        <table>
            <tr>
                <td class="top">
                    <div>
                        <input id="select" type="checkbox" class="left" />
                    </div>
                </td>
                <td class="top">
                    <img id="image" class="left">
                </td>
                <td>&nbsp;</td>
                <td class="top">
                    <a href="javascript:;" id="title" class="left itemTitle alternative clickable overflowTruncated"></a>
                    <div class="left">&nbsp;</div>
                    <div id="type" class="left aligned"></div>
                    <div class="clear"></div>
                    <div id="summary"></div>
                </td>
            </tr>
        </table>
        <br />
        <div id="metadata"></div>
        <div id="imageSettingContainer">
        </div>
    </div>

    <div id="selectSingleImageTemplate" class="itemBox">
        <table>
            <tr>
                <td class="top">
                    <div>
                        <input id="select" type="radio" name="selectedImage" class="left" value="" />
                    </div>
                </td>
                <td class="top">
                    <img id="image" class="left">
                </td>
                <td>&nbsp;</td>
                <td class="top">
                    <a href="javascript:;" id="title" class="left itemTitle alternative clickable overflowTruncated"></a>
                    <div class="left">&nbsp;</div>
                    <div id="type" class="left aligned"></div>
                    <div class="clear"></div>
                    <div id="summary"></div>
                </td>
            </tr>
        </table>
        <br />
        <div id="metadata"></div>
        <div id="imageSettingContainer">
        </div>
    </div>

    <div id="imageSettings" class="">
        <br />
        <hr />
        <br />
        <div>
            <input id="thumb" type="radio" value="50x50" name="format" />
            <label for="thumb" class="left">Thumb (50x50)</label>
            <label class="left">&nbsp;&nbsp;&nbsp;</label>
            <input id="small" type="radio" value="150x150" name="format" />
            <label for="small" class="left">Sm (150x150)  </label>
            <label class="left">&nbsp;&nbsp;&nbsp;</label>
            <input id="medium" type="radio" value="300x300" name="format" />
            <label for="medium" class="left">Med (300x300)</label>
            <label class="left">&nbsp;&nbsp;&nbsp;</label>
            <input id="large" type="radio" value="600x600" name="format" />
            <label for="large" class="left">Lg (600x600)</label>
        </div>
        <br />
        <div>
            <input id="original" type="radio" name="format" class="textbox-aligned" value='' checked="checked" />
            <label id="originalLabel" for="original" class="left textbox-aligned">Original (?x?)</label>
            <label class="left">&nbsp;&nbsp;&nbsp;</label>
            <input id="custom" type="radio" name="format" class="textbox-aligned" />
            <label for="custom">Custom</label>
            <label>W</label>
            <input id="width" type="text" class="small defaultTextBox" name="width" />
            <label>H</label>
            <input id="height" type="text" class="small defaultTextBox" name="height" />
        </div>
    </div>

    <div id="searchBar" class="mainContentHeader blackGradient">
        <div id="searchArea" class="searchArea">
            <div class="searchTextArea">
                <input id="searchTextBox" data-label="Search Images..." type="text" class="searchTextBox" data-kswid="inputSearch">
            </div>
            <button id="searchButton" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
        </div>
        <div class="clear"></div>
    </div>

</div>
