﻿@using KswApi.Site.Framework
@model KswApi.Site.Models.PasswordModel
@{
	ViewBag.Title = "Krames StayWell Administration Portal";
	
}

@section title {
PASSWORD
}

@if (Model.IsValid)
{
	<div id="passwordForm" class="login">
		<div id="prompt" class="bold">Please enter a new password:</div>
		<br />
		<div class="centered">
			<input type="hidden" name="token" value="@Model.Token"/>
			<input type="password" id="password" name="password" class="wide password textBox" autocomplete="off" data-kswid="Password" />
			<br />
			<input type="password" id="confirm" name="passwordConfirmation" class="wide password textBox" autocomplete="off" data-kswid="PasswordConfirmation" />
			<div class="clear"></div>
		</div>
		<p id="passwordError" class="centered error" data-kswid="forgotPasswordError"></p>
		
		<input id="submitPassword" class="grayButton right" type="submit" data-kswid="login" value="Set Password" />
		<div class="clear"></div>
	</div>
	
	<div id="passwordSuccess" class="login isNotVisible centered">
		Your password has been changed.<br />
		<br />
		<a href="@ClientFactory.GetAuthorizationRedirect()">Login</a>
	</div>

	@Scripts.Render("~/bundles/common")
	@Scripts.Render("~/bundles/user/password")
}
else
{
	<div class="login centered">
		<div class="error">@Model.Error</div>
	</div>
}
