﻿@model KswApi.Interface.Objects.MonitoringStatus

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>MonitoringStatus</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatabaseStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatabaseStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CacheStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CacheStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PortalStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PortalStatus)
    </div>
</fieldset>