﻿<div>
	<div id="resetAppSecretDialog" class="dialog" data-kswid="resetAppSecretDialog">
		<div class="spacer"></div>
		<div class="centered">
			<div class="hiddenId"></div>
			<label>Are you sure you would like to </label>
			<label class="emphasized">RESET</label><label> Application Secret</label>
		</div>
		<div class="spacer"></div>
		<div id="resetAppSecret" class="large"></div>
		<div class="spacer"></div>
		<div class="padded buttonStrip">
			<button id="resetAppSecretCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonResetCancel">Cancel</button>
			<button id="resetAppSecretConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonResetConfirm">Reset Application Secret</button>
		</div>
		<div class="break" />
	</div>
</div>