﻿<div>
	<div id="logWidget" class="dashContentBox">
		<h1><span>Log</span> Viewer</h1>
		<h3>Coming Soon!</h3>
	</div>

	<div id="requestsWidget" class="dashContentBox">
		<h1><span>Requests</span> Today</h1>
		<h3>Coming Soon!</h3>
	</div>

	<div id="apiExplorerWidget" class="dashContentBox">
		<h1><span>Api</span> Explorer</h1>
		<h3>Coming Soon!</h3>
	</div>
	
	<div id="contentWidget" class="dashContentBox">
		<h1><span>In My License</span></h1>
		<h3>Coming Soon!</h3>
	</div>
</div>

