﻿<div class="userEditor">
	<div>
		<label for="firstName">First Name</label>
		<input type="text" id="firstName" />
	</div>
	<div>
		<label for="lastName">Last Name</label>
		<input type="text" id="lastName" />
	</div>
	<!--<div>
		<label for="password">Password</label>
		<input type="password" id="password" />
	</div>
	<div>
		<label for="confirmPassword">Confirm Password</label>
		<input type="password" id="confirmPassword"/>
	</div>-->
	<div>
		<label for="emailAddress">Email Address</label>
		<input type="text" id="emailAddress" />
	</div>
	<div>
		<label for="phoneNumber">Phone Number</label>
		<input type="text" id="phoneNumber" />
	</div>
	<div>
		<label for="notes">Notes</label>
		<textarea id="notes"/>
	</div>
	<input type="submit" id="save" value="Save" />
</div>