﻿<!--<link href="../../Content/Site.css" rel="stylesheet" />-->

<div>
	<ul id="administration">
		<li class="left">
			<a href="Dashboard#copyrights" data-kswid="copyrightManage">Copyright Manager</a>
		</li>
	</ul>
</div>