﻿<div>
	<div id="clientTemplate" class="relative" data-kswid="divClientDetail">
		<div id="clientBox" class="itemBox clickable">
			<div id="modifyButtons" class="itemModifyButtonsArea" style="display: none;"><a id="delete" href="javascript:;" class="iconDelete" data-kswid="buttonDelete"></a><a id="edit" href="javascript:;" class="iconEdit" data-kswid="buttonEdit"></a></div>
			<div id="clientName" class="clientDataName" data-kswid="divClientName"></div>
			<div class="clientDataTitle">Date Added:</div>
			<div id="dateAdded" class="clientDataDateAdded" data-kswid="clientDateAdded"></div>
			<a id="licenseButton" href="javascript:;" class="anchor" data-kswid="buttonLicenseCount"><b id="licenseCount"></b> Licenses</a><div class="clientDataContactArea">
				<div class="clientDataWebsite" data-kswid="clientUrl"><a id="website" href="#" target="_blank" class="anchorNoPadding"></a></div>
			</div>
			<div class="breaker clientDataContactArea">
				<div id="contactTitle" class="clientDataContactTitle">Contact:</div>
				<div id="contact" class="clientDataContactName" data-kswid="clientContact"></div>
				<div id="phoneTitle" class="clientDataContactTitle">P:</div>
				<div id="phone" class="clientDataContactName" data-kswid="clientPhone"></div>
				<div id="emailTitle" class="clientDataContactTitle">E:</div>
				<div id="email" class="clientDataContactName" data-kswid="clientEmail"></div>
				<div id="expander" class="iconCollapsed" data-kswid="buttonViewNote"></div>
			</div>
			<div id="noteContainer" class="clientDataNotes">
				<div class="title">Notes:</div>
				<div id="note" class="note">
				</div>
			</div>
		</div>
	</div>

	<div id="flyoutTemplate" class="flyout itemBox" data-kswid="divClientFlyOut" style="display: block;">
		<div class="iconClose"></div>
		<div id="flyoutTitle" class="flyoutTitle"></div>
		<div class="spacer" style="height: 2px;"></div>
		<div class="defaultButton centered" data-kswid="buttonFlyLicAdd">Add New License</div>
		<div class="spacer" style="height: 4px;"></div>
		<div>
			<input type="text" class="textBox flyoutSearch" data-kswid="inputFlySearch">
			<button type="button" class="defaultButton searchButton" data-kswid="buttonFlySearch"></button>
		</div>
		<div class="break" style="">
			<div class="itemBox childBox" data-kswid="divDetailLicense">
				<div class="itemModifyButtonsArea" style="display: none;"><a href="javascript:;" class="iconDelete" data-kswid="buttonDelete"></a><a href="javascript:;" class="iconEdit" data-kswid="buttonEdit"></a></div>
				<div id="licenseName" class="flyoutTitle"></div>
				<div class="break"></div>
				<div class="separate">
					<label class="label left aligned">Application: </label>
					<div class="dropDown left small" style="position: relative;" data-kswid="selectLicApp">
						<div class="arrow"></div>
						<div class="current"></div>
						<select style="display: none;">
							<option value="0cb0f52a-82a2-4864-9b4b-a12100530d08"></option>
							<option value="adfde3dd-b71b-4230-9945-a15004a2e6f5"></option>
						</select>
					</div>
					<div class="break"></div>
					<div>
						<div>
							<label class="label">App ID: </label>
							<label class="value wrapped" data-kswid="txtApplicationType">0cb0f52a-82a2-4864-9b4b-a12100530d08</label>
						</div>
						<div>
							<label class="label">App Secret: </label>
							<label class="value wrapped">***************************</label>
							<a href="javascript:;" class="eye" data-kswid="buttonAppViewSecret"></a>
							<a href="javascript:;" class="iconEdit" data-kswid="resetAppSecret" id="resetSecret"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="itemBox childBox" data-kswid="divDetailLicense">
				<div class="itemModifyButtonsArea" style="display: none;"><a href="javascript:;" class="iconDelete" data-kswid="buttonDelete"></a><a href="javascript:;" class="iconEdit" data-kswid="buttonEdit"></a></div>
				<div class="flyoutTitle">Second License</div>
				<div class="break"></div>
			</div>
		</div>
	</div>
</div>
