﻿<!--<link href="../../Content/Site.css" rel="stylesheet" />-->

<div>
	<div id="clientUserAdministration">
		<div id="contentTitleBar" class="mainContentHeader blackGradient">
			<a id="addClientUser" href="javascript:;" class="defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="buttonAddClient">Add New Client User</a><div class="searchArea">
				<div class="searchTextArea">
					<input type="text" class="searchTextBox" data-kswid="inputSearch">
				</div>
				<button id="clientUserSearch" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
			</div>
		</div>

		<div class="listContentArea">
			<div id="clientUserDetailsContentArea" class="detailContentArea">
				<div id="clientUser" class="itemBox" data-kswid="user">
					<div class="floatLeft detailImage">
						<div id="clientUserIcon" class="iconEnabledClientUser" data-kswid="userImage"></div>
					</div>
					<div class="clientUserData floatLeft">
						<div class="hiddenId"></div>
						<div class="clientUserDataName clickable" data-kswid="userName">Jack Sparrow</div>
						<div class="clear"></div>
						<div class="actions detailArea">
							<a id="clientUserActionEdit" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="userEdit">Edit</a>
							<div class="actionSeperator"></div>
							<a id="clientUserActionDelete" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="userDelete">Delete</a>
							<div class="actionSeperator"></div>
							<div class="clientUserDisabled isNotVisible" data-kswid="useDisableMessage">DISABLED</div>
							<a id="clientUserActionDisable" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="userDisable">Disable</a>
							<a id="clientUserActionEnable" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="userEnable">Enable</a>
						</div>
						<div id="clientUserClientArea" class="detailArea">
							<div class="floatLeft detailTitle">Client:</div>
							<div id="clientUserName" class="floatLeft detailValueBlack" data-kswid="userClient">CMS Vendor</div>
						</div>
						<div id="clientUserContactArea" class="detailArea">
							<div id="clientUserEmailArea">
								<div class="floatLeft detailTitleImage iconEmail"></div>
								<div id="clientUserEmail" class="floatLeft detailValue" data-kswid="userEmail">sue.abe@gmail.com</div>
							</div>
							<div id="clientUserPhoneArea">
								<div class="floatLeft detailTitleImage iconPhone"></div>
								<div id="clientUserPhone" class="floatLeft detailValue" data-kswid="userPhone">801.222.1234</div>
							</div>
						</div>
						<div id="clientUserMiscDataArea" class="seperatorRowHeight detailArea">
							<div class="floatLeft detailTitle">Permission:</div>
							<div id="clientUserPermissions" class="floatLeft detailValueBlack" data-kswid="userPermission">Client Admin</div>
							<div id="clientUserLastLogin" class="floatRight detailValueGray" data-kswid="userLogin"></div>
							<div class="floatRight detailTitleGray">Last Login:</div>
							<div class="floatRight seperatorGray"></div>
							<div id="clientUserCreated" class="floatRight detailValueGray" data-kswid="userCreated"></div>
							<div class="floatRight detailTitleGray">Created:</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="listOptionsFrame">
			<div class="listOptionsArea">
				<!--<div class="listOptionsSection">
                        <div class="ListOptionsSectionTitle">Show User type</div>
                        <div>
                            <img class="optionImage" src="../../Content/themes/base/images/Icons/icon_client_user.png" />
                            <div class="optionImageMargin">
                                <div class="defaultCheckBox checked" data-kswid="inputSeverityWarn"></div>
                                <div class="defaultCheckBoxLabel">Client</div>
                            </div>
                        </div>
                    </div>
                    <div class="listOptionsSeperator">&nbsp;</div>-->
				<div class="listOptionsSection clientUserSortSection">
					<div class="floatLeft clientUserSortTitle">Sort By:</div>
					<div id="sortOptionsSelect" class="floatRight" data-kswid="userSortBy"></div>
				</div>

				<div class="listOptionsSeperator"></div>
				<div class="listOptionsSection clientUserPermissionsSection">
					<div class="optionImage iconEnabledClientUser"></div>
					<div class="optionImageMargin">
						<div class="ListOptionsSectionTitle">Client Permissions</div>
					</div>
					<div class="clear">
					</div>
					<div>
						<div id="includeAdmin" class="defaultCheckBox checked" data-kswid="userFilterAdmin"></div>
						<div class="defaultCheckBoxLabel">Admin</div>
						<div class="clear">
							<br />
						</div>
						<div id="includeUser" class="defaultCheckBox checked" data-kswid="userFilterUser"></div>
						<div class="defaultCheckBoxLabel">User</div>
						<div class="clear">
							<br />
						</div>
						<div id="includeNone" class="defaultCheckBox checked" data-kswid="userFilterNone"></div>
						<div class="defaultCheckBoxLabel">None</div>
					</div>
				</div>

				<div class="listOptionsSeperator">&nbsp;</div>
				<div class="listOptionsSection">
					<a id="logFilterResetButton" class="defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton" data-kswid="userResetFilter">Reset Filters</a>
					<a id="logFilterApplyButton" class="defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="userApplyFilter">Apply Filters</a>
				</div>
			</div>
		</div>

		<div id="viewContentArea" class="dialog">
			<div>
				<div id="viewDialogTitle" class="dialogTitle" data-kswid="userTitle">Viewing User</div>
				<div class="break"></div>
				<div class="dataGrouping">
					<div class="groupLabel">Account Settings</div>
					<div class="inputGroup">
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">First Name:</div>
							<div id="viewUserFirstName" class="floatLeft detailValue" data-kswid="viewFirstName">Bob</div>
						</div>
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">Last Name:</div>
							<div id="viewUserLastName" class="floatLeft detailValue" data-kswid="viewLastName">Bob</div>
						</div>
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">Email:</div>
							<div id="viewUserEmail" class="floatLeft detailValue" data-kswid="viewEMail">Bob@bob.net</div>
						</div>
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">Phone:</div>
							<div id="viewUserPhone" class="floatLeft detailValue" data-kswid="viewPhone">Bob@bob.net</div>
						</div>
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">Disabled:</div>
							<div class="floatLeft detailValue">
								<div id="viewUserDiabled" class="defaultCheckBox" data-kswid="viewDisabled"></div>
							</div>
						</div>
						<div class="clear bitOSpace">
						</div>
					</div>
				</div>
				<div class="clear bitOSpace">&nbsp;</div>
				<div class="dataGrouping">
					<div class="groupLabel">Permissions</div>
					<div class="inputGroup">
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">Client:</div>
							<div id="viewUserClientName" class="floatLeft detailValue" data-kswid="viewClient">Test Client</div>
						</div>
						<div class="clear bitOSpace overflowAuto">
							<div class="floatLeft detailTitle">Permissions</div>
							<div id="permission" class="floatLeft detailValue" data-kswid="viewPermissions">Admin</div>
						</div>
						<div class="clear bitOSpace"></div>
					</div>
				</div>

				<div class="padded buttonStrip">
					<button id="buttonClose" type="button" class="defaultOrangeButton spaced" data-kswid="viewClose">Close</button>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div id="deleteContentArea" class="dialog" data-kswid="deleteClientUserDialog">
			<div class="spacer"></div>
			<div class="centered">
				<div class="hiddenId"></div>
				<label>Are you sure you would like to </label>
				<label class="emphasized">DELETE</label><label> user</label>
			</div>
			<div class="spacer"></div>
			<div id="deleteClientUserName" class="large"></div>
			<div class="spacer"></div>
			<div class="padded buttonStrip">
				<button id="deleteUserCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
				<button id="deleteUserConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete User</button>
			</div>
			<div class="break"></div>
		</div>

		<div id="disableContentArea" class="dialog">
			<div class="spacer"></div>
			<div class="centered">
				<label>Are you sure you would like to </label>
				<label class="emphasized">DISABLE</label><label> user</label>
			</div>
			<div class="spacer"></div>
			<div id="disableClientUserName" class="large"></div>
			<div class="spacer"></div>
			<div class="padded buttonStrip">
				<button id="disableUserCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDisableCancel">Cancel</button>
				<button id="disableUserConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDisableConfirm">Disable User</button>
			</div>
			<div class="break"></div>
		</div>

		<div id="enableContentArea" class="dialog">
			<div class="spacer"></div>
			<div class="centered">
				<label>Are you sure you would like to </label>
				<label class="emphasized">ENABLE</label><label> user</label>
			</div>
			<div class="spacer"></div>
			<div id="enableClientUserName" class="large"></div>
			<div class="spacer"></div>
			<div class="padded buttonStrip">
				<button id="enableUserCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonEnableCancel">Cancel</button>
				<button id="enableUserConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonEnableConfirm">Enable User</button>
			</div>
			<div class="break"></div>
		</div>

		<div id="createContentArea" class="dialog">
			<div>
				<div id="createEditDialogTitle" class="dialogTitle" data-kswid="userTitle">Add A New Client User</div>
				<div class="break"></div>
				<div class="dataGrouping">
					<div class="groupLabel">Account Settings</div>
					<div class="inputGroup">
						<div class="bitOSpace">
							<div class="hiddenId"></div>
							<div class="wrapper firstNameFieldLabel">
								<input id="firstName" class="defaultTextBox medium" type="text" name="firstName" data-kswid="userCreateFirstName">
							</div>
							<div class="wrapper lastNameFieldLabel">
								<input id="lastName" class="defaultTextBox medium" type="text" name="lastName" data-kswid="userCreateLastName">
							</div>
							*
						</div>
						<div class="clear"></div>
						<div class="wrapper emailFieldLabel bitOSpace">
							<input id="emailAddress" class="defaultTextBox" type="text" name="emailAddress" data-kswid="userCreateEmail">
						</div>
						* Will be used as the username
                        <div class="clear"></div>
						<div class="wrapper phoneFieldLabel bitOSpace">
							<input id="phoneNumber" class="defaultTextBox" type="text" name="phoneNumber" data-kswid="userCreatePhone">
						</div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<div id="disabledUser" class="defaultCheckBox" data-kswid="userCreateDisabled"></div>
							<label class="defaultCheckBoxLabel">Disabled</label>
						</div>
						<div class="clear"></div>
						<div id="resetPasswordContainer" class="bitOSpace">
							<div id="resetPassword" class="defaultCheckBox" data-kswid="resetPassword"></div>
							<label for="resetPassword" class="defaultCheckBoxLabel">Reset password</label>
						</div>
						<div class="clear"></div>
						<div id="unlockUserContainer" class="bitOSpace isNotVisible" data-kswid="unlockUser">
							<a href="javascript:;" id="unlockUserLink" class="normal anchor" data-kswid="unlockUserLink">Unlock</a>&nbsp;<label class="emphasized">(account is currently locked)</label>
						</div>
						<div class="clear"></div>
						<div id="newUserPrompt" class="bitOSpace" data-kswid="newUserPrompt">
							Note: This user will automatically be sent an email containing login instructions when you click save
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear bitOSpace">&nbsp;</div>
				<div class="dataGrouping">
					<div class="groupLabel">Permissions</div>
					<div class="inputGroup">
						<div class="bitOSpace">
							<div class="floatLeft detailTitle">Client: *</div>
							<div id="searchList" class="floatLeft detailValue clientSearchListControlWidth"></div>
						</div>
						<div class="clear"></div>
						<div class="bitOSpace">
							<div class="floatLeft detailTitle clientUserSortTitle">Permissions</div>
							<div id="createUserPermissionSelect" class="floatLeft"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="padded buttonStrip">
					<button id="createUserCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonCancel">Cancel</button>
					<button id="createUserSave" type="button" class="defaultOrangeButton spaced" data-kswid="buttonSave">Save</button>
				</div>
			</div>
			<div class="clear"></div>

		</div>
	</div>
</div>
