﻿<div>
	<div id="pageTemplate">
		<div class="listContentArea">
			<div class="detailContentArea">
				<div id="bucketList"></div>
				<div id="pagerContainer"></div>
			</div>
		</div>
		<div class="listOptionsFrame">
			<div class="listOptionsArea">
				<div class="listOptionsSection">
					<div class="ListOptionsSectionTitle">Show Types</div>
				</div>
				<div id="bucketFilters" class="listOptionsSection">
					<div id="typeFilters">
						<div>
							<label class="left iconArticle clickable" for="typeArticle"></label>
							<div id="typeArticle" class="left defaultCheckBox checked aligned" data-kswid="articlesFilter"></div>
							<label class="left aligned clickable" for="typeArticle">Article</label>
							<div class="clear">
								<br />
							</div>
						</div>
						<div>
							<label class="left iconText clickable" for="typeText"></label>
							<div id="typeText" class="left defaultCheckBox checked aligned" data-kswid="plainTextFilter"></div>
							<label class="left aligned clickable" for="typeText">Plain Text</label>
							<div class="clear">
								<br />
							</div>
						</div>
						<div>
							<label class="left iconImage clickable" for="typeImage"></label>
							<div id="typeImage" class="left defaultCheckBox checked aligned" data-kswid="imageFilter"></div>
							<label class="left aligned clickable" for="typeImage">Image</label>
							<div class="clear">
								<br />
							</div>
						</div>
						<div>
							<label class="left iconVideo clickable" for="typeVideo"></label>
							<div id="typeVideo" class="left defaultCheckBox checked aligned" data-kswid="videoFilter"></div>
							<label class="left aligned clickable" for="typeVideo">Video</label>
							<div class="clear">
								<br />
							</div>
						</div>
					</div>
					<div class="listOptionsSeperator">&nbsp;</div>
					<div>
						<label class="label left aligned">Origin: </label>
						<div id="originContainer" class="left"></div>
						<div class="clear">
							<br />
						</div>
					</div>
					<div class="listOptionsSeperator">&nbsp;</div>
					<div>
						<span>Legacy Content Type ID# </span>
						<input id="legacyIdFilter" type="text" class="textBox narrow" data-kswid="legacyFilter" />
					</div>
				</div>
				<div class="listOptionsSeperator">&nbsp;</div>
				<div class="listOptionsSection">
					<div>
						<div id="readOnly" class="defaultCheckBox" data-kswid="readOnly"></div>
						<label class="defaultCheckBoxLabel" for="readOnly">Read Only</label>
						<div class="break"></div>
					</div>
					<div class="listOptionsSection">
						<a id="resetFilters" href="javascript:;" class="defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton" data-kswapi="resetFilter">Reset Filters</a>
						<a id="applyFilters" href="javascript:;" class="defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton" data-kswapi="applyFilters">Apply Filters</a>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="bucketTemplate" class="itemBox" data-kswid="bucket">
		<div class="floatLeft detailImage">
			<div id="icon" data-kswid="bucketIcon"></div>
		</div>
		<div class="clientUserData floatLeft">
			<a id="name" href="javascript:;" class="clientDataName" data-kswid="bucketTitle"></a>
			<div class="clear"></div>
			<div class="actions detailArea">
				<a id="edit" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="bucketEdit">Edit</a>
				<div class="actionSeperator"></div>
				<a id="clone" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="bucketClone">Clone</a>
				<div class="actionSeperator"></div>
				<a id="delete" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="bucketDelete">Delete</a>
			</div>
			<div id="description" class="detailArea" data-kswid="bucketSummary">
				Description
			</div>
			<div class="detailArea">
				<div class="left bold">Type:&nbsp;</div>
				<div id="type" class="left" data-kswid="bucketType"></div>
				<div id="segmentGroup">
					<div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
					<div class="left bold">Segments:&nbsp;</div>
					<div id="segments" class="left" data-kswid="bucketSegments"></div>
				</div>
				<div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
				<div class="left bold">Origin:&nbsp;</div>
				<div id="origin" class="left" data-kswid="bucketOrigin"></div>
				<div id="charLimitGroup">
					<div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
					<div class="left bold">Char Limit:&nbsp;</div>
					<div id="charLimit" class="left" data-kswid="bucketCharLimit"></div>
				</div>
				<div id="legacyIdGroup">
					<div class="left">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
					<div class="left bold">Legacy (cont type):&nbsp;</div>
					<div id="legacyId" class="left" data-kswid="bucketLegacy"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="deleteConfirm" class="dialog">
		Are you sure you would like to
		<label class="emphasized">DELETE</label>
		content bucket
		<div class="spacer"></div>
		<div class="large" id="name"></div>
		<div class="spacer"></div>
		<div class="buttonStrip">
			<button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Delete Bucket</button>
		</div>
		<div class="clear"></div>
	</div>

</div>
