﻿<div>
	<div id="form" class="dialog" data-kswid="newBucketWindow">
		<div class="itemTitle" id="title" data-kswid="bucketTitle">Add New Bucket</div>
		<div>
			<div id="typeBar">
				<div class="left aligned bold">Type:&nbsp;</div>
				<label class="left iconArticle clickable" for="typeArticle"></label>
				<div id="typeArticle" class="left defaultCheckBox checked aligned" data-kswid="article"></div>
				<label class="left aligned clickable" for="typeArticle" data-kswid="selectedBucketType">Article</label>
				<div class="left aligned">&nbsp;</div>
				<label class="left iconText clickable" for="typeText"></label>
				<div id="typeText" class="left defaultCheckBox aligned" data-kswid="plainText"></div>
				<label class="left aligned clickable" for="typeText" data-kswid="selectedBucketType">Plain Text</label>
				<div class="left aligned">&nbsp;</div>
				<label class="left iconImage clickable" for="typeImage"></label>
				<div id="typeImage" class="left defaultCheckBox aligned" data-kswid="image"></div>
				<label class="left aligned clickable" for="typeImage" data-kswid="selectedBucketType">Image</label>
				<div class="left aligned">&nbsp;</div>
				<label class="left iconVideo clickable" for="typeVideo"></label>
				<div id="typeVideo" class="left defaultCheckBox aligned" data-kswid="video"></div>
				<label class="left aligned clickable" for="typeVideo" data-kswid="selectedBucketType">Video</label>
				<div class="break"></div>
			</div>
			<div class="smallSpacer">&nbsp;</div>
			<div class="break"></div>
			<div class="itemBox">
				<div>
					<input id="name" name="name" type="text" class="textBox fullwidth" value="" data-label="Name..." data-kswid="bucketTitle" />
				</div>
				<div class="smallSpacer">&nbsp;</div>
				<div>
					<span class="bold">slug: </span><span id="slugSpan" data-kswid="bucketSlug"></span>
					<input type="text" id="slugBox" name="slug" class="textBox isNotVisible" data-kswid="editSlugTextbox" />
					<button class="defaultButton defaultButtonSmall" id="editSlug" data-kswid="editSlug">Edit</button>
				</div>
				<div class="smallSpacer">&nbsp;</div>
				<div class="smallSpacer">&nbsp;</div>
				<div>
					<textarea name="description" class="textArea fullwidth" data-label="Description..." data-kswid="bucketDesc"></textarea>
				</div>
				<div></div>
			</div>
			<div class="itemBox">
				<label class="label left aligned">Origin: </label>
				<div id="originContainer" class="left"></div>
				<div class="break"></div>
			</div>
			<div class="itemBox">
				<span>Legacy Content Type ID# </span>
				<input type="text" name="legacyId" maxlength="7" class="textBox narrow" data-kswid="bucketLegacy" />
				<div class="break"></div>
			</div>
			<div class="itemBox">
				<div id="readOnly" class="defaultCheckBox" data-kswid="bucketReadOnly"></div>
				<label class="defaultCheckBoxLabel" for="readOnly">Read Only</label>
				<div class="break"></div>
			</div>
			<div id="lengthContainer" class="itemBox">
				<span>Maximum Length </span>
				<input id="length" type="text" maxlength="7" class="textBox narrow" data-kswid="maxLength" />
				<div class="break"></div>
			</div>
			<div class="itemBox">
				<div>
					<span># of Segments: </span><span id="segmentCount" data-kswid="bucketSegments">0</span>
					<a id="addSegment" class="iconAdd" href="javascript://" data-kswid="bucektSegAdd"></a>
					<span class="subtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Drag to reorder)</span>
				</div>
				<div id="segments">
				</div>
				<div class="break"></div>
			</div>
			
			<div id="copyrightItemBox" class="itemBox">
				
			</div>
		</div>
		<div class="smallSpacer">&nbsp;</div>
		<div class="buttonStrip">
			<button id="submitButton" class="defaultOrangeButton right" type="button" data-kswid="bucketSave">Add Bucket</button>
			<button id="cancelButton" class="defaultWhiteButton right" type="button" data-kswid="bucketCancel">Cancel</button>
		</div>
		<div class="break"></div>
	</div>

	<div id="segment" class="segment" data-kswid="bucketSeg">
		<div class="left iconMove aligned" data-kswid="segMove"></div>
		<span id="segmentNumber" class="left aligned numeric-bullet">1.</span>
		<div class="left">&nbsp;</div>
		<div class="left">
			<div class="left">
				<input type="hidden" id="id"/>
				<input id="segmentName" type="text" class="textBox centerColumn left" data-kswid="bucketSegDesc" />
				<div class="centerColumn"><label class="bold">slug: </label><span id="slug" data-kswid="segSlug"></span></div>
				<input type="hidden" id="slugValue"/>
			</div>
		</div>
		<div class="left">&nbsp;&nbsp;</div>
		<div id="required" class="left defaultCheckBox aligned" data-kswid="bucketSegReq"></div>
		<label for="required" class="left aligned">Required</label>
		<div class="left">&nbsp;&nbsp;</div>
		<div id="delete" class="left iconDelete aligned" data-kswid="bucketSegDel"></div>
		<div class="break"></div>
	</div>

	<div id="deleteConfirm" class="dialog">
		Are you sure you would like to
		<label class="emphasized">DELETE</label>
		segment
		<div class="spacer"></div>
		<div class="large" id="name"></div>
		<div class="spacer"></div>
		<div class="buttonStrip">
			<button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Delete Segment</button>
		</div>
		<div class="clear"></div>
	</div>

</div>
