﻿<link rel="stylesheet" type="text/css" href="../../Content/Site.css" />
<div>
	<div id="view" class="dialog narrow" data-kswid="viewBucketWindow">
		<div class="itemTitle no-padding" id="title" data-kswid="bucketTitle"></div>
		<div class="smallSpacer">&nbsp;</div>
		<div class="bold left">slug:&nbsp;</div>
		<span id="slug" class="left" data-kswid="bucketSlug"></span>
		<div class="smallSpacer">&nbsp;</div>
		<div class="break spacer"></div>
		<div class="itemBox">
			<div>
				<div id="typeImage" class="left"></div>
				<div id="typeName" class="left aligned subtitle" data-kswid="bucketType"></div>
				<div id="" class="left">&nbsp;&nbsp;&nbsp;</div>
				<div class="left aligned bold">Origin:</div>
				<div id="origin" class="left aligned" data-kswid="bucketOwner"></div>
			</div>
			<div class="break">&nbsp;</div>
			<div>
				<div id="description" data-kswid="bucketDesc"></div>
			</div>
			<div class="break">&nbsp;</div>
			<div id="features"></div>
			<div class="break"></div>
		</div>
		<div>
			<div class="left">Articles Using this Bucket (<span id="articleCount" data-kswid="bucketArticles">...</span>)&nbsp;&nbsp;</div>
			<a href="javascript:;" class="left anchorNoPadding" data-kswid="bucketViewArticles">View Articles</a>
			<div class="break spacer"></div>
			<div class="left">Licenses Using this Bucket (<span id="licenseCount" data-kswid="bucketLicense">....</span>)&nbsp;&nbsp;</div>
			&nbsp;<a href="javascript:;" class="left anchorNoPadding" data-kswid="bucketViewLicenses">View Licenses</a>
		</div>
		<div class="break spacer"></div>
		<div class="buttonStrip">
			<button id="closeButton" class="defaultWhiteButton right" type="button" data-kswid="close">Close</button>
			<button id="editButton" class="defaultWhiteButton right" type="button" data-kswid="edit">Edit</button>
		</div>
		<div class="break"></div>
	</div>
</div>
