﻿<link href="../../Content/Site.css" rel="stylesheet" />

<div>
	<div id="contentTitleBar" class="mainContentHeader blackGradient">
		<a id="addContent" href="javascript:;" class="defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="addNewContent">Add New Content</a>
		<div id="searchArea" class="searchArea isNotVisible">
			<div class="searchTextArea">
				<input id="contentSearchInput" type="text" class="searchTextBox" data-kswid="inputSearch">
			</div>
			<button id="contentSearchButton" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
		</div>
	</div>

	<div id="contentSearch">
		<div id="searchOptions">
			<div class="split right shadow"></div>
			<div class="split right">
				<div class="">
					<div class="floatLeft optionTitle">Buckets Selected</div>
					<div id="bucketFilterOption" class="floatLeft iconAdd contentFilterOptionIcon clickable" data-kswid="bucketFilter"></div>
					<div id="bucketSelectedFilters" class="selectedFilters clear">
						<div id="selectedFilter" class="clear">
							<div class="floatLeft filterTitle bucketFilterSelected" data-kswid="bucketFilterName"></div>
							<div class="floatLeft iconRemove clickable removeFilterOption" data-kswid="bucketFilterOption"></div>
						</div>
						<div id="noSelectedFilters">None</div>
					</div>
				</div>

				<div class="listOptionsSeperator">&nbsp;</div>
				<div class="listOptionsSection">
					<a id="contentFilterResetButton" class="floatRight defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton" data-kswid="userResetFilter">Reset Filters</a>
					<a id="contentFilterApplyButton" class="floatRight defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="userApplyFilter">Apply Filters</a>
				</div>
			</div>
		</div>

		<div id="initialContentSearch" class="itemBox dark">
			<div id="initialContentSearchArea">
				<div class="searchAreaLeft">
					<div class="searchTextArea">
						<input id="initialContentSearchInput" type="text" class="contentSearchTextBox floatLeft" data-kswid="inputSearch">
					</div>
					<button id="initialContentSearchButton" type="button" class="defaultButton searchButton" data-kswid="buttonSearch"></button>
					<div class="clear bitOSpace" />
					<div>Narrow results by using filters followed by a colon and search term.</div>
					<div class="clear someSpace" />
					<div id="searchKey" class="itemBox dark">
						<div class="bitOSpace contentSearchKeyTitle smallPadding">Key</div>
						<div class="small-text">
							<div class="threeColumns">
								<label class="bold">bucket:</label>
								<label>Bucket Name</label>

							</div>
							<div class="threeColumns">
								<label class="bold">mesh:</label>
								<label>Mesh Code</label>
							</div>
							<div class="threeColumns">
								<label class="bold">icd-9:</label>
								<label>ICD9 Code</label>
							</div>

							<div class="threeColumns">
								<label class="bold">serviceline:</label>
								<label>Service Line Name</label>
							</div>
							<div class="threeColumns">
								<label class="bold">created:</label>
								<label>5/31/2013-6/31/2013</label>
							</div>
							<div class="threeColumns">
								<label class="bold">gender:</label>
								<label>Female</label>
							</div>

							<div class="threeColumns">
								<label class="bold">collection:</label>
								<label>Collection Name</label>
							</div>
							<div class="threeColumns">
								<label class="bold">modified:</label>
								<label>5/31/2013-6/31/2013</label>
							</div>
							<div class="threeColumns">
								<label class="bold">age:</label>
								<label>Adult</label>
							</div>
							<div class="threeColumns">
								<label class="bold">state:</label>
								<label>Draft</label>
							</div>
							<div class="threeColumns">
								<label class="bold">reviewed:</label>
								<label>5/31/2013-6/31/2013</label>
							</div>
							<div class="threeColumns">
								<label class="bold">custom:</label>
								<label>key=value</label>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<div id="resultPanel">
			<div id="contentList" class="itemBox dark">
				<div id="listViewBar">
					<div id="resultCount" class="floatLeft" data-kswid="results">Result Count Here</div>
					<div class="clear">
						<br />
					</div>
				</div>
				<div id="contentArea">
				</div>
				<div id="pager"></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<div id="deleteContentDialog" class="dialog" data-kswid="deleteContentDialog">
		<div class="spacer"></div>
		<div class="centered">
			<div class="hiddenId"></div>
			<label>Are you sure you would like to </label>
			<label class="emphasized">DELETE</label>
			<label id="type">content</label>
		</div>
		<div class="spacer"></div>
		<div id="deleteContentName" class="large"></div>
		<div class="spacer"></div>
		<div class="padded buttonStrip">
			<button id="deleteContentCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="deletePublishedConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete Published</button>
			<button id="deleteContentConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete Content</button>
		</div>
		<div class="break"></div>
	</div>

	<div id="contentListItem" class="itemBox" data-kswid="content">
		<div class="overflowTruncated">
			<div class="hiddenId"></div>
			<div>
				<a id="contentDataTitle" href="javascript:;" class="itemTitle alternative clickable overflowTruncated" data-kswid="userName"></a>&nbsp;&nbsp;(<span id="revisions"></span>)
			</div>
			<div class="clear"></div>
			<div id="clientUserActions" class="actions detailArea">
				<!--<a id="contentQuickEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentQuickEditAction">Quick Edit</a>
					<div class="actionSeperator"></div>-->
				<a id="contentEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentEditAction">Edit</a>
				<div class="actionSeperator"></div>
				<a id="contentDeleteAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentDeleteAction">Delete</a>
				<!--<div class="actionSeperator"></div>
					<a id="contentSaveAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentSaveAction">Save</a>
					<div class="actionSeperator"></div>
					<a id="contentReportAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentReportAction">Report</a>-->
			</div>
			<div class="spacer small"></div>
			<div id="contentListPreviewArea" class="clear" data-kswid="description"></div>
			<div class="spacer small"></div>
			<div id="metadata1" class="clear bitOSpace"></div>
			<div id="metadata2" class="clear bitOSpace"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="imageListItem" class="itemBox">
		<table>
			<tr>
				<td class="top">
					<img id="image" class="left">
				</td>
				<td>&nbsp;</td>
				<td class="top">
					<a href="javascript:;" id="title" class="left itemTitle alternative clickable overflowTruncated"></a>
					<div class="left">&nbsp;</div>
					<div id="type" class="left aligned"></div>
					<div class="clear"></div>
					<div id="clientUserActions" class="actions detailArea">
						<a id="contentEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentEditAction">Edit</a>
						<div class="actionSeperator"></div>
						<a id="contentDeleteAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentDeleteAction">Delete</a>
					</div>
					<div class="clear"></div>
					<div id="summary"></div>
				</td>
			</tr>
		</table>
		<br />
		<div id="metadata1" class="clear bitOSpace"></div>
		<div id="metadata2" class="clear bitOSpace"></div>
		<div class="clear"></div>
	</div>
</div>
