﻿<!--<link href="../../Content/Site.css" rel="stylesheet" />-->

<div>
	<input type="hidden" name="globalCopyrightDefaultId" value="b5fcf7ea-91a9-494c-8aa9-a1e30141cecb" />

	<div id="copyrightSection" class="listContentAreaNoRightSideBar">
		<div id="copyrightList" class="detailContentArea"></div>
	</div>

	<div id="copyrightItemTemplate" class="itemBox" data-kswid="copyrightResult">
		<input type="hidden" name="copyrightId" />
		<input type="hidden" name="isDefault" />
		<div id="copyrightDefaultArea" class="itemName" style="display: none;" data-kswid="globalCopyrightName">Global Default Copyright:</div>
		<div id="copyrightContent" style="margin-bottom: 20px" data-kswid="copyrightData"></div>
		<div style="float: left; margin-right: 20px;">
			<a href="javascript:;" id="copyrightEdit" data-kswid="copyrightEdit">Edit</a> | <a href="javascript:;" id="copyrightClone" data-kswid="copyrightClone">Clone</a><span id="copyrightDeleteContainer"> | <a href="javascript:;" id="copyrightDelete" data-kswid="copyrightDelete">Delete</a></span>
		</div>
		<div style="margin-left: 20px;">Used by <a id="copyrightBuckets" href="javascript:;" data-kswid="copyrightbuckets"></a>
			<!-- This div cannot have any white space or the javascript will break -->
			<div id="copyrightBucketList" class="itemBox" style="display: none; height: 90px; overflow: auto" data-kswid="usedBuckets"></div>
		</div>
	</div>

	<div id="bucketListItem" class="bucketListItem"></div>
	<div id="lastBucketListItem" class="break"></div>
	
	<div id="copyrightEditor" class="itemBox" style="display: none;" data-kswid="newCopyright">
		<input type="hidden" name="copyrightId" />
		<div id="copyrightEditorMessage" class="itemName"></div>
		<textarea name="copyrightEditorTextArea" rows="5" cols="107" data-kswid="copyrightText"></textarea>
		<div style="margin-top: 5px;" data-kswid="copyrightNote">
			<span>Note:</span><span> to always have the current year shown on the copyright, use {{year}} - e.g. Copyright {{year}} - Krames Staywell</span>
		</div>
		<div style="text-align: right;">
			<a href="javascript:;" class="defaultWhiteButton defaultAnchorbutton" data-kswid="copyrightCancel">Cancel</a>
			<button type="button" class="defaultButton addButton" data-kswid="saveCopyright">Save</button>
		</div>
	</div>
	
	<div id="deleteContentArea" class="dialog" data-kswid="deleteCopyrightDialog">
		<div class="spacer"></div>
		<div class="centered">
			<div class="hiddenId"></div>
			<label>Are you sure you would like to </label>
			<label class="emphasized">DELETE</label><label> copyright</label>
		</div>
		<div class="spacer"></div>
		<div id="deleteCopyright" class="large"></div>
		<div class="spacer"></div>
		<div class="padded buttonStrip">
			<button id="deleteCopyrightCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="deleteCopyrightConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonDeleteConfirm">Delete Copyright</button>
		</div>
		<div class="break"></div>
	</div>
</div>