﻿<div>
	<div id="shortCodeWidget" class="dashContentBox">
		<h1><span>SMS</span> Gateway</h1>
		<img src="Content/themes/base/images/SMSimg.png" />
		<h3>Take Advantage of KSW's Shortcode:</h3>
		<h1 id="easterEgg" class="shortcode">98517</h1>
	</div>

	<div id="logsWidget" class="dashContentBox">
		<h1><span>Log</span> Viewer</h1>
		<img src="Content/themes/base/images/logView.png" />
		<div class="dashBoxFoot">
			<a id="viewLogsButton" class="defaultWhiteButton defaultAnchorbutton" href="javascript:void(0);">View your Logs</a>
		</div>
	</div>

	<div id="clientWidget" class="dashContentBox">
		<h1><span id="clientSpan">Client</span> Management</h1>
		<img id="clientPic" src="Content/themes/base/images/clients.jpg" />
		<div class="dashBoxFoot">
			<a id="manageClientButton" class="defaultWhiteButton defaultAnchorbutton" href="javascript:void(0);">Manage Clients</a>
		</div>
	</div>
	
	<div id="contentWidget" class="dashContentBox">
		<h1><span>Content</span> Management</h1>
		<img id="contentPic" src="Content/themes/base/images/ContentWidget.png" />
		<div class="dashBoxFoot">
			<a id="manageContentButton" class="defaultWhiteButton defaultAnchorbutton" href="javascript:void(0);">Manage Content</a>
		</div>
	</div>
</div>

<script src="../../Scripts/Common/Helper.js"></script>
<script src="../../Scripts/Common/Html.js"></script>
<script src="../../Scripts/jquery/jquery-1.8.2.js"></script>
