﻿<div>
	<div id="applicationEditorTemplate" class="itemBox listItem form" data-kswid="applicationEdit">
		<div id="close" class="iconClose"></div>
		<div id="newItemContainer">
			<div>
				<div class="iconRequired"></div>
				<div class="wrapper" style="position: relative;">
					<input type="text" class="defaultTextBox" name="name" data-kswid="inputAppName">
				</div>
			</div>
			<div>
				<div>
					<div class="twoColumnDefault">
						<div>
							<div class="itemSubTitle">Type</div>
							<div class="break"></div>
							<input type="radio" name="type" value="Confidential" checked="checked" data-kswid="inputAppConfidential"><label data-kswid="inputAppConfidential">Confidential</label><input type="radio" name="type" value="Public" data-kswid="inputAppPublic"><label data-kswid="inputAppPublic">Public</label>
						</div>
					</div>
					<div class="twoColumnDefault">
						<div>
							<div class="itemSubTitle">Description</div>
							<div class="break"></div>
							<div class="textAreaPadding">
								<div class="wrapper" style="position: relative;">
									<textarea class="textArea" name="description" data-kswid="inputAppDescription"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="break"></div>
			</div>
			<div class="break"></div>
			<div>
				<div id="jsonpEnabled" class="defaultCheckBox" data-kswid="enableJsonp"></div>
				<label class="defaultCheckBoxLabel" for="jsonpEnabled">Enable JSONP</label>
				<div class="break"></div>
				<div class="separate"></div>
				<div id="jsonpDetails" data-kswid="jsonpDetails">
					<div>
						JSONP Websites:
						<label id="jsonpSiteCount" class="value" data-kswid="jsonpSiteCount">0</label><a id="addJsonpSite" href="javascript:;" class="iconAdd" data-kswid="jsonpAddSite"></a>
					</div>
					<div class="break"></div>
					<div class="separate"></div>
					<div id="jsonpSiteList" data-kswid="jsonpSiteList"></div>
				</div>
			</div>
			<div class="break"></div>
		</div>
		<div class="padded buttonStrip">
			<button id="cancel" type="button" class="defaultWhiteButton spaced" data-kswid="inputAppCancel">Cancel</button>
			<button id="save" type="button" class="defaultButton spaced" data-kswid="inputAppSave">Save Application</button>
		</div>
		<div class="break"></div>
	</div>

	<div id="jsonpSite" class="segment" data-kswid="jsonpSite">
		<span id="number" class="left aligned numeric-bullet"></span>
		<div class="left">&nbsp;</div>
		<input id="website" type="text" class="textBox left" data-kswid="jsonpSiteUrl" />
		<div class="left">&nbsp;&nbsp;</div>
		<div id="delete" class="left iconDelete aligned" data-kswid="siteDelete"></div>
		<div class="break"></div>
	</div>

	<div id="applicationViewTemplate" class="itemBox listItem" style="display: block;" data-kswid="application">
		<div id="hoverButtons" class="itemModifyButtonsArea" style="display: none;"><a id="delete" href="javascript:;" class="iconDelete" data-kswid="buttonDelete"></a><a id="edit" href="javascript:;" class="iconEdit" data-kswid="buttonEdit"></a></div>
		<div id="name" class="itemTitle" data-kswid="appTitle"></div>
		<div>
			<label class="label">App ID: </label>
			<label id="applicationId" class="value" data-kswid="appId"></label>
		</div>
		<div class="separate"></div>
		<div>
			<label class="label">App Secret: </label>
			<label id="applicationSecret" class="value" data-kswid="appSecret">***************************</label>
			<a id="viewSecret" href="javascript:;" class="eye" data-kswid="viewAppSecret"></a><a id="resetAppSecret" href="javascript:;" class="iconEdit" data-kswid="resetAppSecret">&nbsp;</a>
		</div>
		<div class="separate"></div>
		<div>
			<label class="label">Date Added: </label>
			<label id="dateAdded" class="value" data-kswid="appDateAdded"></label>
			<label class="separator"></label>
			<label class="label">Type: </label>
			<label id="type" class="value" data-kswid="appType"></label>
		</div>
	</div>

	<div id="deleteApplicationConfirmation" class="dialog" data-kswid="deleteApplicationDialog">
		<div class="spacer"></div>
		<div class="centered">
			<label>Are you sure you would like to </label>
			<label class="emphasized">DELETE</label><label> application</label>
		</div>
		<div class="spacer"></div>
		<div id="applicationName" class="large"></div>
		<div class="spacer"></div>
		<div>All application information will be removed.</div>
		<div class="spacer"></div>
		<div class="buttonStrip">
			<button id="cancelButton" type="button" class="defaultWhiteButton" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="deleteButton" type="button" class="defaultOrangeButton" data-kswid="buttonDeleteConfirm">Delete Application</button>
		</div>
		<div class="break"></div>
	</div>

	<div id="applicationManagerTemplate" class="itemBox listItem" data-kswid="divApplications">
		<div>
			<div class="left heading-18 down-3">Applications&nbsp;&nbsp;</div>
			&nbsp;<a href="javascript:;" id="addApplication" class="imageButton" data-kswid="buttonLicenseAppNew"><div class="plus"></div>
			</a>
		</div>
		<div id="list">
		</div>
	</div>

	<div id="resetAppSecretDialog" class="dialog" data-kswid="resetAppSecretDialog">
		<div class="spacer"></div>
		<div class="centered">
			<div class="hiddenId"></div>
			<label>Are you sure you would like to </label>
			<label class="emphasized">RESET</label><label> Application Secret</label>
		</div>
		<div class="spacer"></div>
		<div id="resetAppSecret" class="large"></div>
		<div class="spacer"></div>
		<div class="padded buttonStrip">
			<button id="resetAppSecretCancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonResetCancel">Cancel</button>
			<button id="resetAppSecretConfirm" type="button" class="defaultOrangeButton spaced" data-kswid="buttonResetConfirm">Reset Application Secret</button>
		</div>
		<div class="break" />
	</div>
</div>




