﻿<div>
	<div id="license-title-bar">
		<div id="" class="contentTitle"></div>
		<div id="license-selection-container" class="contentTitleControl">
		</div>
	</div>

	<div id="license-module-view">
		<div class="listContentArea">
			<div class="itemBox listItem">
				<a href="javascript:" class="iconClose" data-kswid="buttonLicenseClose" style="display: inline;"></a><a href="javascript:" class="iconEdit" data-kswid="buttonLicenseEdit" style="display: inline;"></a>
				<div class="heading-15 down-3 left">License:&nbsp;&nbsp;</div>
				<div id="name" class="heading-20 left bold" data-kswid="txtLicenseName"></div>
				<div class="break"></div>
				<div class="someSpace"></div>
				<div>
					<div>
						<div class="twoColumnDefault">
							<div>
								<div class="heading-15">Parent License</div>
								<div class="bitOSpace"></div>
								<div id="parent-license" data-kswid="txtLicenseParent">Loading...</div>
							</div>
						</div>
						<div class="twoColumnDefault">
							<div>
								<div class="heading-15">Notes</div>
								<div class="bitOSpace"></div>
								<div data-kswid="txtLicenseNotes"></div>
							</div>
						</div>
					</div>
					<div class="break"></div>
				</div>
				<div class="break"></div>
			</div>
			<div id="application-container">
			</div>
			<div id="module-list">
			</div>
		</div>
		<div class="listOptionsFrame" data-kswid="divOptions">
			<div class="listOptionsArea">
				<div>
					<div class="heading-15">Add Modules</div>
				</div>
				<div class="someSpace"></div>
				<div id="available-module-list">
				</div>
			</div>
		</div>
	</div>

	<div id="license-creator" class="listContentArea">
		<div class="itemBox listItem form">
			<div id="newItemContainer">
				<div class="iconClose"></div>
				<div class="formSection">
					<div class="iconRequired"></div>
					<input id="name" type="text" class="defaultTextBox" name="name" data-label="License Name..." data-label-class="large" data-kswid="inputLicenseName" />
				</div>
				<div>
					<div>
						<div class="twoColumnDefault">
							<div>
								<div class="itemSubTitle">Parent License</div>
								<div class="break"></div>
								<div id="parent-selector-container">
								</div>
							</div>
						</div>
						<div class="twoColumnDefault">
							<div>
								<div class="itemSubTitle">Notes</div>
								<div class="break"></div>
								<div class="textAreaPadding">
									<textarea id="notes" class="textArea fill-width" name="notes" data-label="Notes..." data-kswid="inputLicenseNotes"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="break"></div>
				</div>
			</div>
			<div class="break"></div>
			<div class="padded buttonStrip">
				<button id="cancel" type="button" class="defaultWhiteButton spaced" data-kswid="buttonLicenseCancel">Cancel</button>
				<button id="save" type="button" class="defaultButton spaced" data-kswid="buttonLicenseSave">Save License</button>
			</div>
			<div class="break"></div>
		</div>
	</div>

	<div id="content-module">
		<div class="itemBox">
			<div class="heading-18 left">Buckets&nbsp;&nbsp;</div>
			<a id="edit-buckets" class="left down-3" href="javascript:;" data-kswid="edit">Edit</a>
			<div class="clear"></div>
			<div class="someSpace"></div>
			<div id="bucket-list"></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="lotsOSpace"></div>
		<div class="itemBox">
			<div class="heading-18 left down-3">Collections&nbsp;-&nbsp;</div>
			<div id="total-collection-count" class="heading-18 left down-3"></div>
			<div class="heading-18 left down-3">&nbsp;&nbsp;</div>
			<a href="javascript:;" id="add-collection" class="left imageButton" data-kswid="add-collection">
				<div class="plus"></div>
			</a>
			<div class="left">&nbsp;&nbsp;</div>
			<a id="show-collection-details" href="javascript:;" class="left down-6" data-kswid="show-details">hide details</a>
			<div class="clear"></div>
			<div class="someSpace"></div>
			<div id="collection-list"></div>
			<div id="pager-container"></div>
			<div class="clear"></div>
		</div>
	</div>

	<div id="content-module-item" class="left width-165 itemBox overflowTruncated">
	</div>

	<div id="bucket-select-dialog" class="itemBox">
		<div class="heading-18">Select Buckets for License</div>
		<div class="someSpace"></div>
		<div id="bucket-selector"></div>
		<div class="clear"></div>
		<div>
			<button id="update" type="button" class="defaultButton defaultButtonBox addButton right" data-kswid="buttonSave">Update</button>
			<button id="cancel" type="button" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton right" data-kswid="buttonCancel">Cancel</button>
		</div>
		<div class="clear"></div>
	</div>

	<div id="content-module-collection" class="itemBox">
		<div id="remove" class="right iconClose"></div>
		<div class="left">
			<img id="image" class="left" src="Content/themes/base/images/image-placeholder-small.png" data-detail="true"></img>
			<div class="left" data-detail="true">&nbsp;&nbsp;</div>
			<div class="left">
				<a id="title" href="javascript:;" class="itemTitle overflowTruncated alternative"></a>
				<div class="clear"></div>
				<div id="blurb" data-detail="true"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="someSpace" data-detail="true"></div>
		<div data-detail="true">
			<label class="bold">Expires: </label>
			<label id="expires"></label>
			<label>| </label>
			<label class="bold">Created: </label>
			<label id="created"></label>
			<label>| </label>
			<label class="bold">Modified: </label>
			<label id="modified"></label>
			<div class="clear"></div>
			<div class="someSpace"></div>
			<label class="bold">Created By: </label>
			<label id="created-by"></label>
			<label>| </label>
			<label class="bold">Used By: </label>
			<label id="used-by"></label>
		</div>
		<div class="clear"></div>
	</div>

</div>
