﻿	<link href="../../Content/Site.css" rel="stylesheet" />


<div>
	<div id="logSearchForm">
		<div class="listContentArea">
			<div id="logDetailsContentArea" class="detailContentArea">
			</div>
			<div id="logSingleDetailContentArea" class="listContentArea logDetailContentArea">
			</div>
		</div>
		<div class="listOptionsFrame">
			<div class="listOptionsArea">
				<div class="listOptionsSection">
					<div class="ListOptionsSectionTitle">Severities</div>
					<div>
						<div id="includeWarnings" class="defaultCheckBox checked" data-kswid="inputSeverityWarn"></div>
						<div class="defaultCheckBoxLabel">Warn</div>
						<div id="includeErrors" class="defaultCheckBox checked" data-kswid="inputSeverityError"></div>
						<div class="defaultCheckBoxLabel">Error</div>
						<div id="includeInfo" class="defaultCheckBox checked" data-kswid="inputSeverityInfo"></div>
						<div class="defaultCheckBoxLabel">Info</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="listOptionsSeperator">&nbsp;</div>
				<div class="listOptionsSection">
					<div class="ListOptionsSectionTitle">Date Range</div>
					<div class="logDateRangeOptions">
						<input class="logDateRangePicker noFocus" type="text" readonly="readonly" data-kswid="inputFilterDate" />
					</div>
				</div>
				<div class="listOptionsSeperator">&nbsp;</div>
				<div class="listOptionsSection">
					<a id="logFilterResetButton" class="defaultButtonSmall defaultWhiteButton defaultButtonBox defaultAnchorbutton" data-kswid="buttonFilterReset">Reset Filters</a>
					<a id="logFilterApplyButton" class="defaultButtonSmall defaultButton defaultButtonBox defaultAnchorbutton" data-kswid="buttonFilterApply">Apply Filters</a>
				</div>
			</div>
		</div>
	</div>
</div>
