﻿<div>
    <div id="reportsForm">
        <div class="listContentArea">
            <h1>SMS Gateway Billing Report</h1>
            <div id="reportDetailsContentArea" class="detailContentArea">
                <div class="clear reportColumnHeaders">
                    <div class="reportColumnName">
                        <div>Client Name</div>
                        <div>License Name</div>
                    </div>
                    <div class="reportColumnName">SMS Short Code Keyword Count</div>
                    <div class="reportColumnName">Long Code Count</div>
                    <div class="reportColumnName">Outgoing Message Count</div>
                    <div class="reportColumnName">Incoming Message Count</div>
                </div>
                <br />
                <div id="reportData" class="clear">
                    <div class="reportSection" data-kswid="records">
                        <div class="reportClientName" data-kswid="clientName">Test Client</div>
                        <div class="reportLicenseDataGroup">
                            <div class="groupLicenseName" data-kswid="licenseName">Test License</div>
                            <div class="reportColumnData" data-kswid="licenseReportData">
                                <div class="shortCodeKeywordCount reportColumnDataValue">3</div>
                                <div class="longCodeCount reportColumnDataValue">5</div>
                                <div class="outgoingMessageCount reportColumnDataValue">1,560</div>
                                <div class="incomingMessageCount reportColumnDataValue ">563</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="listOptionsFrame">
            <div class="listOptionsArea">
                <div class="listOptionsSection">
                    <div class="ListOptionsSectionTitle">Month & Year</div>
                    <div id="dropdowns">
                    </div>
                </div>
                <div class="listOptionsSeperator">&nbsp;</div>
                <div class="listOptionsSection">
                    <div class="ListOptionsSectionTitle"></div>
                    <a id="showReportData" class="defaultButtonSmall defaultButton defaultAnchorbutton" data-kswid="buttonShowReportData">Show Report Data</a>
                </div>
                <br />
                <div class="listOptionsSection">
                    <a id="exportToCsv" class="defaultButtonSmall defaultWhiteButton defaultAnchorbutton" data-kswid="buttonExportCSVData">Export to CSV</a>
                </div>
            </div>
        </div>
    </div>
</div>
