﻿<div>
	<div id="shortcodekeywordEditorTemplate" data-kswid="divKeyWord">
		<div class="wrapper" style="position: relative;">
			<input id="keywordValue" type="text" class="defaultTextBox small" data-kswid="inputKeyWord">
		</div>
		<div class="wrapper" style="position: relative;">
			<input id="keywordWebsite" type="text" class="defaultTextBox" data-kswid="inputKeyWordWebsite">
		</div>
		<div id="formatPlaceholder">
		</div>
		<div id="delete" class="iconDelete iconDeleteCenter" data-kswid="buttonKeyRemove"></div>
		<div class="break"></div>
	</div>

	<div id="longCodeSearch" class="addContentArea noMargins">
		<div class="searchAreaLeft">
			<div class="searchTextArea">
				<input id="longCodeSearchBox" class="textBox medium" data-kswid="longSearch" />
			</div>
			<input type="button" id="longCodeSearchButton" class="defaultButton searchButton" data-kswid="longSearchGo" />
		</div>
		<div class="searchOptions">
			<input type="radio" id="searchByNumber" name="longCodeFilterType" class="searchOption" checked="checked" data-kswid="LongByNumber"><div class="searchOptionMainText">By Number</div>
			<div class="searchOptionSubText">area code, digits or phrases</div>
			<br />
			<input type="radio" id="searchByLocation" name="longCodeFilterType" class="searchOption clear" data-kswid="LongByLocation"><div class="searchOptionMainText">By Location</div>
			<div class="searchOptionSubText">city, state or postal code</div>
		</div>
		<div class="clear">
			<div id="noMatch">
				<div class="orangeText boldText" data-kswid="longSearchError">Sorry!  Nothing matched your search.</div>
				Check your spelling or try something more general.
			</div>
			<div id="displayedResults">
			</div>
			<div id="longCodeResults">
				<div class="buyLongCodeArea">
					<button class="defaultButton buyLongCodeButton" data-kswid="longBuyButton">
						BUY<br />
						$1/mo</button>
					<div class="buyLongCodeTextArea">
						<div class="buylongCodeMainText" data-kswid="longByNumber"></div>
						<br />
						<div class="buyLongCodeRegionInfo clear" data-kswid="LongBuyFullNumber"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div id="pagerContainer"></div>
		</div>
		<div class="buttonStrip">
			<input type="button" id="cancelButton" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton addButton right cancelButton" value="Cancel" data-kswid="longCancel" />
		</div>
	</div>

	<div id="longCodeConfirm" class="dialog">
		Are you sure you would like to
		<label class="emphasized">PURCHASE</label>
		number
		<div class="spacer"></div>
		<div class="large" id="number"></div>
		<div class="spacer"></div>
		<div class="buttonStrip">
			<button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Purchase Number</button>
		</div>
		<div class="clear"></div>
	</div>

	<div id="longCodeEdit" class="addContentArea smsLongCodeEdit">
		<div class="longCodeEditData">
			<div class="twoColumn2080">
				<input type="hidden" name="number" class="hiddenLongCodeNumber" />
				<div class="itemTitle alternative longCodeNumber" data-kswid="longLicNumber">
					801-555-5555
				</div>
			</div>
			<div class="twoColumn2080">
				<div class="longCodeOptionsArea longCodeEditOptions">
					<div>
						<input type="radio" name="routeType" value="CatchAll" class="useLongCodeCatchAll" data-kswid="longCatchAll" />
						Uses a Catch All
					</div>
					<div class="smallSpacer"></div>
					<div>
						<input type="radio" name="routeType" value="Keyword" class="useLongCodeKeyword" data-kswid="longMultipleKeywords" />
						<span>Uses Multiple Keywords</span>
						<span id="addKeywordArea">
							<span>&nbsp;&nbsp;&nbsp;</span>
							<span>Licensed Keywords*:&nbsp;</span><span id="longCodeKeywordCount" class="bold" data-kswid="longLicensedKeywords">0</span><a id="addKeywordButton" class="iconAdd" href="javascript:;" data-kswid="longLicensedKeyAdd"></a>
						</span>
					</div>
				</div>
				<div class="smallSpacer"></div>
				<div id="longCodeEditDetail">
					<div id="longCodeKeywordTemplate" class="clear longCodeEditTemplate" data-kswid="divKeyWords">
						<div data-kswid="divKeyWord">
							<div class="wrapper keywordFieldLabel" style="position: relative;">
								<input class="defaultTextBox small longCodeKeywordEditKeyword" type="text" name="keyword" data-kswid="inputKeyWord">
							</div>
							<div class="wrapper websiteFieldLabel" style="position: relative;">
								<input class="defaultTextBox longCodeKeywordEditWebsite" type="text" name="website" data-kswid="inputKeyWordWebsite">
							</div>
							<div class="formatDropdown" data-kswid="LongRequestType"></div>
							<div id="deleteLongCodeKeyword" class="iconDelete iconDeleteCenter" data-kswid="buttonKeyRemove"></div>
							<div class="break"></div>
						</div>
					</div>
					<div id="longCodeCatchAllEditTemplate" class="clear longCodeEditTemplate" data-kswid="divCatchAll">
						<div data-kswid="divKeyWord">
							<div class="wrapper keywordFieldLabel" style="position: relative;">
								*
							</div>
							<div class="wrapper websiteFieldLabel" style="position: relative;">
								<input class="defaultTextBox longCodeKeywordEditWebsite" type="text" name="website" data-kswid="inputKeyWordWebsite">
							</div>
							<div class="formatDropdown" data-kswid="LongRequestType"></div>
							<div class="break"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="buttonStrip">
			<input type="button" class="defaultButton defaultButtonBox defaultAnchorbutton addButton right editSaveButton" value="Save" data-kswid="longSave" />
			<input type="button" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton addButton right editCancelButton" value="Cancel" data-kswid="longCancel" />
		</div>
	</div>

	<div id="longCodeView">
		<div class="longCodeViewData">
			<div class="twoColumnModule">
				<div class="itemTitle alternative longCodeNumber" data-kswid="longLicNumber">
				</div>
			</div>
			<div class="twoColumnModule">
				<div class="clear longCodesList">
					<div class="">
						<div class="twoColumnModule">
							<div class="itemModifyButtonsArea">
								<a id="deleteLongCode" class="iconDelete" href="javascript:;" data-kswid="buttonDelete"></a>
								<a class="iconEdit" href="javascript:;" data-kswid="buttonEdit"></a>
							</div>
							<div id="longCodeDetail">
								<div id="catchAllDetail">
									<div class="spacer"></div>
									<div>
										<div class="longCodeKeywordInfo" data-kswid="longLicKeyword">
											*
											&nbsp;
										<label id="longCodeViewWebsite"></label>
											&nbsp;
										<label id="longCodeViewFormat"></label>
										</div>
									</div>
									<div class="break"></div>
								</div>

								<div id="keywordDetail">
									<div data-kswid="longLicKeywords">
										Licensed Keywords:&nbsp;
										<label class="bold keywordCount">0</label>
									</div>
									<div class="spacer"></div>
									<div id="longCodeViewKeywordList">
										<div id="longCodeViewTemplate">
											<div class="longCodeKeywordInfo" data-kswid="longLicKeyword">
												<label id="keywordKeyword" class="bold"></label>
												&nbsp;
												<label id="keywordWebsite"></label>
												&nbsp;
												<label id="keywordFormat"></label>
											</div>
										</div>
									</div>
									<div class="break"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="longCodeDeleteConfirm" class="dialog">
		Are you sure you would like to
		<label class="emphasized">DELETE</label>
		number
		<div class="spacer"></div>
		<div class="large" id="number"></div>
		<div class="spacer"></div>
		<div class="buttonStrip">
			<button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Delete Number</button>
		</div>
		<div class="clear"></div>
	</div>
</div>
