﻿<!--<link href="../../Content/Site.css" rel="stylesheet" />-->

<div>
	<div id="contentView" class="clear">
		<input type="button" class="defaultButton defaultButtonBox defaultAnchorbutton addButton newContentButton" value="New" />
		<div class="break"></div>
		<div class="left itemSubTitle">Starts With:&nbsp;</div><input type="text" id="startsWith" name="query" class="defaultTextBox contentTitleValue" style="float:left;"/>
		<div class="break"></div>
		<div class="left itemSubTitle">Query:&nbsp;</div><input type="text" id="searchQuery" name="query" class="defaultTextBox contentTitleValue" style="float:left;"/>
		<div class="break"></div>
		<input type="button" id="searchContentButton" class="defaultButton defaultButtonBox defaultAnchorbutton addButton" value="Search" />
		<div class="break"></div>
		<div class="clear contentList">
			<div class="clear contentItem">
				<div class="twoColumnModule">
					<div class="itemTitle alternative contentTitleText" data-kswid="longLicNumber"></div>
				</div>
				<div class="twoColumnModule">
					<div class="clear">
						<div class="">
							<div class="twoColumnModule">
								<div class="itemModifyButtonsArea">
									<a id="deleteContent" class="iconDelete" href="javascript:;" data-kswid="buttonDelete"></a>
									<a id="editContent" class="iconEdit" href="javascript:;" data-kswid="buttonEdit"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="contentEdit" class="clear addContentArea">
		<div>
			<div>
				<input type="hidden" name="contentId" value="" class="contentIdValue" />
				<input type="hidden" name="type" class="contentTypeValue" value="Html" />
				<div class="itemTitle alternative titleFieldLabel">
					<input type="text" name="title" class="defaultTextBox contentTitleValue" style="width: 98%;" />
				</div>
				<div id="slugContainer" class="itemTitle alternative">
					<input id="slug" type="text" name="slug" class="defaultTextBox" style="width: 98%;" />
				</div>
			</div>
		</div>
		<div class="left">Bucket: </div> <div id="bucketSelect" class="left"></div>
		<div class="separate"></div>
		<div id="docEditor" class="clear">
			<textarea name="contentBody" style="resize: none; height: 500px; width: 98%;" class="contentTextBox contentBodyValue"></textarea>
		</div>
		<div class="buttonStrip">
			<input type="button" class="defaultButton defaultButtonBox defaultAnchorbutton addButton right editSaveButton" value="Save" data-kswid="longSave" />
			<input type="button" class="defaultWhiteButton defaultButtonBox defaultAnchorbutton addButton right editCancelButton" value="Cancel" data-kswid="longCancel" />
		</div>
	</div>

	<div id="deleteConfirm" class="dialog">
		Are you sure you would like to
		<label class="emphasized">DELETE</label>
		content
		<div class="spacer"></div>
		<div class="large" id="number"></div>
		<div class="spacer"></div>
		<div class="buttonStrip">
			<button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="buttonDeleteCancel">Cancel</button>
			<button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="buttonDeleteConfirm">Delete Content</button>
		</div>
	</div>

</div>
