﻿@{
	ViewBag.Title = "Help";
	ViewData["IsAuthorized"] = false;
}

@section styles {
	@Styles.Render("~/Content/responsive")	
}


<p>Thank you for contacting the Krames StayWell Text Connection Help Center.</p>
<p>Please send Stop to the program's phone number or short code to stop future delivery of messages.</p>
<p>For additional assistance please contact the Krames StayWell help desk at: <b>(800) 203-7902, Option 1.</b></p>
<p>&nbsp;</p>
<p>Thanks,</p>
<p>Krames StayWell Support</p>
