﻿@model KswApi.Site.Models.KswApiClientResponse
@{
	ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/BackButtonSupport.js")" type="text/javascript"></script>
<h2>KSW API Service Methods</h2>
@using (Html.BeginForm())
{
@*	@Html.RadioButtonFor(model => model.JsonReturnFormat, true, Model.JsonReturnFormat ? new {id = "JsonFormatting_true", Checked = "checked"} : new {id = "JsonFormatting_true", Checked = "unchecked"})
	<label for="JsonFormatting_true">
		JSON</label>
	@Html.RadioButtonFor(model => model.JsonReturnFormat, false, !Model.JsonReturnFormat ? new {id = "JsonFormatting_false", Checked = "checked"} : new {id = "JsonFormatting_false", Checked = "unchecked"})
	<label for="JsonFormatting_false">
		XML</label>
	<br />
	@Html.RadioButton("formatType", true, true) 
	@Html.Label("JSON")
	
	@Html.RadioButton("formatType", false, false) 
	@Html.Label("XML")
	
	<br />
	<br />
	//<input type="submit" value="Ping Service" />
	@Html.ActionLink("Ping Service", "PingService","KswApiClient", new { id = Model})
	<br/>
*@	
	@Ajax.ActionLink("Ping Service (JSON)", "PingService", "KswApiClient", new { jsonFormatting = true }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divContent" })
	<br />
	@Ajax.ActionLink("Ping Service (XML)", "PingService", "KswApiClient", new { jsonFormatting = false }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divContent" })
	<br />
	<br />
	<div id="divContent">
	</div>
	<br />
}