﻿@using System.Globalization
@model KswApi.Interface.Objects.PingData

<h2>Ping Service</h2>

<p>
	@Html.Label(DateTime.Parse(Model.CurrentDateAndTime).ToString(CultureInfo.InvariantCulture))
</p>
