﻿@section title
{

}

@section toolbar
{
	<div>
		<div class="listContentAreaTitle"></div>
	</div>
}
@{
	ViewBag.Title = "Krames StayWell Administration Portal";
}

@Scripts.Render("~/bundles/clientdata")
@Scripts.Render("~/bundles/common")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/administration")

<script src="~/Scripts/dashboard.js"></script>
