﻿@section title
{
CLIENT USER DASHBOARD
}

@section toolbar
{
	<div>
		<div class="listContentAreaTitle"></div>
	</div>
}
@{
	ViewBag.Title = "Krames StayWell Client Portal";
}

@Scripts.Render("~/bundles/common")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/client")
