﻿@model KswApi.Site.Models.LoginModel
@{
	ViewBag.Title = "Krames StayWell Administration Portal";
}
@section title
{
LOGIN
}

<form id="loginForm" class="isNotVisible" method="POST">
	<input type="hidden" name="user_name" />
	<input type="password" name="password" />
	<input type="hidden" name="client_id" value="@Model.client_id"/>
	<input type="hidden" name="response_type" value="@Model.response_type"/>
	<input type="hidden" name="redirect_uri" value="@Model.redirect_uri"/>
</form>
<div class="login">
	@if (Model != null && !string.IsNullOrEmpty(Model.Warning))
 {
		<label class="error" data-kswid="warning">@Model.Warning</label>
		<div class="small separate"></div>
		
 }

	<div class="itemBox">
		<p>
		<p class="centered">
			<label for="user_name"></label>
			<input type="text" id="email" class="wide email textBox" autocomplete="off" data-kswid="email" />
		</p>
		<p class="centered">
			<input type="password" id="password" class="wide password textBox" autocomplete="off" data-kswid="password" />
			<br />
			<a id="forgotPassword" href="javascript:;" class="right" data-kswid="forgotPassword">Forgot Password?</a>
			<br />
		</p>
		<div id="loginError" class="error centered" data-kswid="error">
			@if (Model != null)
   {
				@Model.Error
					
   }
		</div>

	</div>
	<div class="clear"></div>
	<input id="submitLogin" class="grayButton" type="submit" data-kswid="login" value="Login" />
	<div class="clear"></div>
</div>

<div class="template">
	<div id="forgotPasswordDialog" class="dialog">
		<p>
			Please enter your email address:
		</p>
		<p class="centered">
			<label for="user_name"></label>
			<input type="text" id="email" class="wide email textBox" autocomplete="off" data-kswid="forgotEmail" />
		</p>
		<p id="forgotPasswordError" class="error" data-kswid="forgotPasswordError"></p>
		<div>An email will be sent to you with instructions for resetting your password.</div>
		<br />
		<div class="emphasized">Note: Krames StayWell employees use an employee login and should reset their password via Windows.</div>
		<br />
		<div class="buttonStrip">
			<button id="cancelButton" class="defaultWhiteButton" type="button" data-kswid="forgotCancel">Cancel</button>
			<button id="submitButton" class="defaultOrangeButton" type="button" data-kswid="forgotSubmit">Reset Password</button>
		</div>
		<div class="clear"></div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/common")
	@Scripts.Render("~/bundles/login")
}