﻿@using KswApi.Site.Framework
@{
	ViewBag.Title = "Krames StayWell Administration Portal";
}

<div id="loginWrapper">
	<div>
		<h2>You have signed out of KSW API.</h2>
		<div class="someSpace"></div>
		<p><a href="@ClientFactory.GetAuthorizationRedirect()">Login</a></p>
		<div id="dd"></div>
	</div>
</div>
