﻿@{
	ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kswapiBackButtonSupport.js")" type="text/javascript"></script>

<h2>Hash Tag Back Button Tests</h2>

@*
See the kswapiBackButtonSupport.js file for how this works.
	AjaxOption Parameters:
		UpdateTargetId = Div or other html tag to place the content if using partial views;
		OnSuccess = Needs to call the backButtonSupport.AddHashTag('ActionName') to work correctly
	The 'null' at the end would be for any parameters you need to pass the action
*@

@Ajax.ActionLink("Blue Text", "GetBlueText", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divContent", OnSuccess = "backButtonSupport.AddHashTag('GetBlueText')" }, null)
<br/>
@Ajax.ActionLink("Green Text", "GetGreenText", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divContent", OnSuccess = "backButtonSupport.AddHashTag('GetGreenText')" }, null)
<br/>
@Ajax.ActionLink("Red Text", "GetRedText", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divContent", OnSuccess = "backButtonSupport.AddHashTag('GetRedText')" }, null)
<br/>
@Ajax.ActionLink("Chart", "GetChart", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divContent", OnSuccess = "backButtonSupport.AddHashTag('GetChart')" }, null)
<br/>
<div id="divContent">
</div>
<br/>