﻿@model KswApi.Interface.Objects.RightList
@{
	ViewBag.Title = "AllRights";
}

<h2>Rights</h2>


@if (Model != null)
{
	foreach (string right in Model.Items)
	{
		<div>@right</div>
	}
}
<br/>
<div>@Html.ActionLink("Home", "Index")</div>
