﻿@using KswApi.Interface.Objects
@model RoleList
@{
    ViewBag.Title = "AllRoles";
}

<h2>Roles</h2>

@if (Model != null)
{
	foreach (Role role in Model.Items)
	{
		<div>@Html.ActionLink(role.Name, "ViewRole", new { roleId = role.Name }) </div>
	}
}
<br/>
<div>@Html.ActionLink("Home", "Index")</div>
