﻿@model KswApi.Site.Models.AuthorizationResult
@{
    ViewBag.Title = "AuthorizationResult";
}

<h2>Authorization Result</h2>

@{
	if (!Model.IsSuccessful)
	{
		<div>An error occured.  Error: @Model.ErrorDetails: @Model.ErrorDetails</div>
	}
	else
	{
		<div>We have an access token: @Model.AccessToken.Token</div>
		<br/>
		<div>Expiration Time: @Model.AccessToken.ExpiresIn</div>
		<br/>
		<div>Refresh Token: @Model.AccessToken.RefreshToken</div>
		<br/>

		<br/>
		<div><a href="Dashboard">Dashboard</a></div>
        <script type="text/javascript">UserLoggedIn = true;</script>
	}
}

