﻿@{
    ViewBag.Title = "CreateRole";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
	<div>Name: @Html.TextBox("name")</div>
	<div>Description: @Html.TextBox("description")</div>
	<div>Rights: @Html.TextBox("rights")</div>
	<div><input type="submit" value="Submit"/></div>
}
<br/>
<div>@Html.ActionLink("Home", "Index")</div>
