﻿@{
	ViewBag.Title = "Index";
    var rights = ViewData["Rights"] as List<string>;
}

<h2>KSW API Portal</h2>

@if (rights != null && rights.Contains("Read_Logs"))
{
	<p>@Html.ActionLink("Logs", "Logs")</p>
}
@if (rights != null && rights.Contains("Read_Roles"))
{
	<p>@Html.ActionLink("View User Details", "UserDetails")</p>
	<p>@Html.ActionLink("List All Rights", "AllRights")</p>
	<p>@Html.ActionLink("List All Roles", "AllRoles")</p>
}
@if (rights != null && rights.Contains("Manage_Roles"))
{
	<p>@Html.ActionLink("Create Role", "CreateRole")</p>
}