﻿@model KswApi.Interface.Objects.Role
@{
    ViewBag.Title = "UpdateRole";
}

<h2>Update Role</h2>


@using (Html.BeginForm())
{
	@Html.Hidden("roleId", Model.Name)
	<div>Name: @Html.TextBox("name", Model.Name)</div>
	<div>Description: @Html.TextBox("description", Model.Description)</div>
	<div>Rights: @Html.TextBox("rights", Model.Rights == null ? null : string.Join(",", Model.Rights))</div>
	<div><input type="submit" value="Submit"/></div>
}
<br/>
<div>@Html.ActionLink("Home", "Index")</div>
