﻿@using KswApi.Interface.Objects

@model UserResponse
@{
	ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>
@using (Html.BeginForm())
{
	<div>
		@Html.LabelFor(m => m.FirstName): 
		@Html.LabelForModel(Model.FirstName)
		<br/>
		@Html.LabelFor(m => m.LastName): 
		@Html.LabelForModel(Model.LastName)
		<br/>
		@Html.LabelFor(m => m.EmailAddress): 
		@Html.LabelForModel(Model.EmailAddress)
		<br/>
	</div>
}
<br/>
<div>@Html.ActionLink("Home", "Index")</div>
