﻿@model KswApi.Interface.Objects.Role
@{
	ViewBag.Title = "ViewRole";
}

<h2>ViewRole</h2>
@if (Model != null)
{
	<div>@Model.Name</div>
	<div>@Model.Description</div>
	if (Model.Rights != null)
	{
		foreach (string right in Model.Rights)
		{
			<div>@right</div>	
		}
	}
	
	<br/>
	<div>@Html.ActionLink("Update", "UpdateRole", new { roleId = Model.Name })</div>
	<br/>
	<div>@Html.ActionLink("Delete", "DeleteRole", new { roleId = Model.Name })</div>
}
<br/>
<div>@Html.ActionLink("Home", "Index")</div>
