﻿@using KswApi.Site.Framework;
@model KswApi.Site.Models.LicenseModel

@section title
{
CLIENTS
}
<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.inFieldLabel.js")"></script>
<script src="@Url.Content("~/Scripts/kswapiInFieldLabel.js")"></script>
<script src="@Url.Content("~/Scripts/kswapiClientLicenseAddEdit.js")"></script>


@section toolbar
{
    <div>
        @using (Html.BeginForm("Create", "LicenseManagement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="newClientLicenseClientName">@Html.Label(Model.Client.ClientName) > New License</div>
        }
    </div>
}

@using (Html.BeginForm("Create", "LicenseManagement", FormMethod.Post) )
{
    @Html.ValidationSummary(true)
    <div id="addClientLicense" class="listContentArea">
        <div class="addContentArea">
            <div class="addContentAreaData">
                @Html.HiddenFor(model => model.ClientId)
                <div class="addLicenseName">
                    <div class="iconRequired"></div>
                    <label for="Name">License Name...</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "addLicenseNameTextBox defaultTextBox addfocus" })
@*                    <div class="licenseNameValidation">
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>*@
                </div>
                <br />
                <div class="parentLicense">
                    <div class="addContentAreaSubtitle">Parent License</div>
                    <br />
                    @Html.DropDownListFor(model => model.ParentLicenseId, Model.ParentLicenseList, new { @class = "defaultDropDown parentLicenseDropDown" })
                </div>
                <div class="licenseNotes">
                    <div class="addContentAreaSubtitle">Notes</div>
                    <br />
                    <div class="addLicenseNotes">
                        <label for="Notes">Notes...</label>
                        @Html.TextAreaFor(model => model.Notes, new { @class = "addClientLicenseNotesTextBox" })
                    </div>
                </div>
            </div>
            <div class="addClientLicenseButtonsArea">
                <button name="button" type="submit" class="defaultButton defaultButtonBox addButton" value="Edit">Save License</button>
                <a class="defaultWhiteButton defaultButtonBox defaultAnchorbutton" onclick="$('#addClientData').html('');">Cancel</a>
            </div>
        </div>
        <div class="detailContentArea">
            <div class="clientDataDetail">
                <div class="applicationsTitle">Applications</div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
