﻿@using KswApi.Site.Models

@model LicenseModel


@*<script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kswapiBackButtonSupport.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kswapiDetailExpander.js")"></script>
<script src="@Url.Content("~/Scripts/kswapiInFieldLabel.js")"></script>
<script src="@Url.Content("~/Scripts/kswapiClientData.js")"></script>*@

@section title
{
CLIENTS
}

@section toolbar
{
    <div>
        @Ajax.ActionLink("Add New Client", "Create", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "addClientData" }, new { @class = "defaultButton defaultButtonBox defaultAnchorbutton" })
        @using (Html.BeginForm("Index", "ClientDataManagement", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
        }
    </div>
}

@using (Html.BeginForm("Index", "ClientDataManagement"))
{
    @Html.AntiForgeryToken()
    <div id="clientDataListArea" class="listContentArea">
 
    </div>
}