﻿<div id="contentListItem" class="itemBox" data-kswid="content">
    <div class="overflowTruncated">
        <div class="hiddenId"></div>
        <div>
            <a id="contentDataTitle" href="javascript:;" class="itemTitle alternative clickable overflowTruncated" data-kswid="userName"></a>&nbsp;&nbsp;(<span id="revisions"></span>)
        </div>
        <div class="clear"></div>
        <div id="clientUserActions" class="actions detailArea">
            <!--<a id="contentQuickEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentQuickEditAction">Quick Edit</a>
					<div class="actionSeperator"></div>-->
            <a id="contentEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentEditAction">Edit</a>
            <div class="actionSeperator"></div>
            <a id="contentDeleteAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentDeleteAction">Delete</a>
            <!--<div class="actionSeperator"></div>
					<a id="contentSaveAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentSaveAction">Save</a>
					<div class="actionSeperator"></div>
					<a id="contentReportAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentReportAction">Report</a>-->
        </div>
        <div class="spacer small"></div>
        <div id="contentListPreviewArea" class="clear" data-kswid="description"></div>
        <div class="spacer small"></div>
        <div id="metadata1" class="clear bitOSpace"></div>
        <div id="metadata2" class="clear bitOSpace"></div>
    </div>
    <div class="clear"></div>
</div>
