﻿<div id="imageListItem" class="itemBox">
    <table>
        <tr>
            <td class="top">
                <img id="image" class="left">
            </td>
            <td>&nbsp;</td>
            <td class="top">
                <a href="javascript:;" id="title" class="left itemTitle alternative clickable overflowTruncated"></a>
                <div class="left">&nbsp;</div>
                <div id="type" class="left aligned"></div>
                <div class="clear"></div>
                <div id="clientUserActions" class="actions detailArea">
                    <a id="contentEditAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentEditAction">Edit</a>
                    <div class="actionSeperator"></div>
                    <a id="contentDeleteAction" class="floatLeft anchorNoPadding" href="javascript:void(0);" data-kswid="contentDeleteAction">Delete</a>
                </div>
                <div class="clear"></div>
                <div id="summary"></div>
            </td>
        </tr>
    </table>
    <br />
    <div id="metadata1" class="clear bitOSpace"></div>
    <div id="metadata2" class="clear bitOSpace"></div>
    <div class="clear"></div>
</div>
