﻿<div>
    <div class="mainMenu">
        <div class="mainMenuLogo">
            <a class="cornerLogo clickable showsHome" />
        </div>

        <div id="menuLinks" class="floatLeft">
            <a id="menuLink" class="mainMenuItem" href="javascript:void(0);" data-kswid="dashboard">DASHBOARD</a>

            <div id="menuSeperator" class="mainMenuSeperator"></div>
        </div>

        <div id="subHeaderContainer" class="subHeader">
            <a id="subMenuLink" href="javascript:;" class="subMenuItem"></a>
            <div id="subMenuSeperator" class="SubMenuSeperator"></div>
        </div>

        <a href="javascript:void(0);" id="userMenuLink"></a>

        <div class="mainMenuSettings" id="mainMenuSettings" data-kswid="settings">
            <div id="menuFlyout" class="menuFlyout">
                <div class="menuPointer"></div>
                <div class="menuHeading" data-kswid="settingsUser">@user.EmailAddress</div>
                <div class="menuUserSpecific"></div>
                <a id="signOut" href="javascript:void();" data-kswid="settingsLogout">Sign Out</a>
            </div>
        </div>
    </div>
</div>


