﻿<!--<link href="../../Content/Site.css" rel="stylesheet" />-->
<div>
    <div id="searchListControl">
        <div id="selectedValueArea" class="detailValueGray">
            <div id="selectedValue"></div>
            <div id="selectedText" data-kswid="selectedClientName">
                No Client Selected
            </div>
        </div>
        <div class="clear"></div>
        <div id="searchArea">
            <div class="floatRight searchListButton">
                <button type="button" class="defaultButton searchButton" data-kswid="searchListSearchButton"></button>
            </div>
            <div class="searchListInput">
                <input type="text" class="searchTextBox" data-kswid="searchListSearchInput">
            </div>
        </div>
        <div id="listArea">
            <div id="listColumns">
                <div class="listColumn">Client Name</div>
            </div>
            <div class="clear"></div>
            <div id="listData" class="detailValueGray">
                <div class="listRow">
                    <div class="listDataValue"></div>
                    <div class="listCell" data-kswid="searchListClientName"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
