﻿#logList table { border-collapse: collapse;}
#logList table, #logList tr, #logList td, #logList th { border: 1px solid black;}
#logList td, #logList th { padding: 5px; }
#logList a { padding: 0 5px; }
#logList a.current { color: #900; }