﻿/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1023px) {
	.mainContent {
		width: 900px;
		margin-left: -450px;
	}

	.perspective::before {
		-webkit-box-shadow: -82px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: -82px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: -82px 0 8px rgba(0, 0, 0, 0.4);
	}

	.perspective::after {
		-webkit-box-shadow: 82px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 82px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: 82px 0 8px rgba(0, 0, 0, 0.4);
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.mainContent {
		width: 700px;
		margin-left: -350px;
	}

	.perspective::before {
		-webkit-box-shadow: -63px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: -63px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: -63px 0 8px rgba(0, 0, 0, 0.4);
	}

	.perspective::after {
		-webkit-box-shadow: 63px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 63px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: 63px 0 8px rgba(0, 0, 0, 0.4);
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.mainContent {
		width: 440px;
		margin-left: -220px;
	}

	.perspective::before {
		-webkit-box-shadow: -38px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: -38px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: -38px 0 8px rgba(0, 0, 0, 0.4);
	}

	.perspective::after {
		-webkit-box-shadow: 38px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 38px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: 38px 0 8px rgba(0, 0, 0, 0.4);
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.mainContent {
		width: 320px;
		margin-left: -160px;
	}

	.perspective::before {
		-webkit-box-shadow: -33px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: -33px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: -33px 0 8px rgba(0, 0, 0, 0.4);
	}

	.perspective::after {
		-webkit-box-shadow: 33px 0 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 33px 0 8px rgba(0, 0, 0, 0.4);
		box-shadow: 33px 0 8px rgba(0, 0, 0, 0.4);
	}
}
