﻿@using KswApi.Interface.Objects
@using KswApi.Site.Framework
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/themes/base/css", "~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/plupload")

	@* The tinymce script is inlined here instead of using a bundle because 
		it uses it's own path to determine where to get plugins: do not bundle
		this without making sure that tinymce will function
	 *@
	<script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js" runat="server"></script>

	@RenderSection("styles", required: false)
	@RenderSection("scripts", required: false)
	@Html.Partial("_GlobalScript")
</head>
<body>
	<div id="mainHeaderContainer">
		<div class="mainHeader">
		</div>
	</div>
	<div class="mainHeaderWhiteSeperator"></div>
	<div class="mainBackground">
		<div class="mainContentTitle" id="title" data-kswid="title">
			@RenderSection("title", required: false)
		</div>
	</div>
	<div class="mainContent drop-shadow perspective">
		<div id="contentTitleBar" class="mainContentHeader blackGradient">
			@RenderSection("toolbar", required: false)
		</div>
		<div class="greenSeperator"></div>
		<div class="whiteSeperator"></div>
		<div id="mainContent" class="mainContentBody container">
			@RenderBody()
		</div>
		<div>
			@RenderSection("footer", required: false)
		</div>
		<div class="mainContentFooter"></div>
	</div>
	<div class="clear"></div>
	<div class="spacer"></div>
</body>
</html>
