﻿@model KswApi.Site.Models.ErrorData
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
	<h2>
		@if (Model != null)
		{
			@Model.ErrorMessage
		}
		else
		{
			@:Sorry, an error occurred while processing your request.
		}
		
	</h2>
</body>
</html>